.span9
  .talk_event
    .header
      .title
        - if not user.is_anonymous and item.talk.speaker != user
          .grid1
            %a{href:"{{item.talk.get_absolute_url}}"}
              {{ item.talk.name|truncatechars:48 }}
            %br by {{ item.talk.speaker.user.get_full_name }}

          .grid2
            {% include 'engagements/_button_group_partial.haml' %}

        - else
          %div
            %a{href:"{{item.talk.get_absolute_url}}"}
              {{ item.talk.name|truncatechars:68 }}
            %br by {{ item.talk.speaker.user.get_full_name }}

      .location
        .grid1
          %a{href:"{{ item.event.get_absolute_url }}"}
            at {{ item.event }}
          %br in {{ item.event.location.city }}, {{ item.event.location.state }}
        .grid2
          {{ item.date.date }}
          %br {{ item.date.time }}

    .description
      - if item.talk.tags.all
        - for tag in item.talk.tags.all
          .label.label-info {{ tag.name }}

      .abstract {{ item.talk.abstract|truncatechars:240 }}
      .clearfix

    .clearfix
