- if profile.links.all or user == profile
  .row-fluid
    .span12
      %h2 Links

- if profile.links.all
  - for link in profile.links.all
    %p.profile-link{data-id:"{{link.id}}"}
      %a{href:"{{link.url_target}}", target:"_blank"}
        My {{ link.type_name|title }}
      - if user == profile
        %i.delete-profile-link.icon-remove.pull-right{data-id:"{{link.id}}"}

- if user == profile
  .row-fluid
    .edit-links
      .span12
        %form.profile-link-form{action:"/profile/edit/link/new", method:"POST"}
          - csrf_token
          {{ link_form.type }}
          {{ link_form.url }}

          %input.btn.btn-warning{type:"submit", value:"Add New Link"}
