
- if profile.user.links.all or user == profile.user
  .row
    .span3
      %h2 Links

- if profile.user.links.all
  - for link in profile.user.links.all
    %p.profile-link{data-id:"{{link.id}}"}
      %a{href:"{{link.url_target}}", target:"_blank"}
        My {{ link.type_name|title }}
      %i.delete-profile-link.icon-remove.pull-right{data-id:"{{link.id}}"}

- if user == profile.user
  .row
    .edit-links
      .span3
        %form.profile-link-form{action:"/profile/edit/link/new", method:"POST"}
          - csrf_token
          {{ link_form.type }}
          {{ link_form.url }}

          %input.btn.btn-warning{type:"submit", value:"Add New Link"}
