.well.picture
  - if profile.photo
    %img{src:"{{MEDIA_URL}}{{ profile.photo}}"}
  - else
    %i.icon-user

  - if user == profile
    .row-fluid
      %form.profile-photo-form{action:"/profile/edit/photo", method:"POST", enctype:"multipart/form-data"}
        {% csrf_token %}

        .span3
          {{ photo_form.photo }}

        .span3
          %input.btn.btn-warning{type:"submit", value:"Upload Photo"}
