- if user in item.attendees.all
  %a.btn.btn-warning{href:"/talk_event/{{item.id}}/attend?last={{last}}"}
    %i.icon-ban-circle
    Cancel
- else
  %a.btn.btn-warning{href:"/talk_event/{{item.id}}/attend?last={{last}}"}
    %i.icon-calendar
    Attend
