- extends 'base.haml'

- block 'subnav-container'

- block 'content'
  - for group in talk_groups
    - if group.1
      .row
        .section-title
          %h2 {{group.0}}

      .row
        .talk-list
          - for item in group.1
            - include '_talk_event_span6_detail_partial.haml'
