- if not user.is_anonymous and speaker.user == user
  %a.btn.btn-warning{href:"/profile/edit"}
    %i.icon-pencil
    Edit

  %a.add-event.btn.btn-warning{href:"/event/new"}
    %i.icon-plus
    Event
