%div{style:'display:none'}
  #recruit-talk-popup
    %h2 Submit {{ talk.name }} to an event.
    %form.submit-talk-event{action:"/talk/{{talk.id}}/recruit/?last={{last}}", method:"POST"}
      - csrf_token

      %select{name:"event"}
        - for event in user_events
          %option{val:"{{event.id}}"}
            {{ event.name }}

      %button.btn.btn-warning{type:"submit"} Submit

%script{type:"text/javascript"}
  $('.recruit-talk').colorbox({inline: true, width:"400px"});
