%div{style:"display:none"}
  #edit-talk-popup{style:"background-color: white; padding: 40px;"}
    %h2 Edit Talk
    %form{action:"/talk/{{talk.id}}/edit/", method:"POST"}
      - csrf_token
      %label{for:"talk-name"} Name:
      %input#talk-name{name:"name", type:"text", value:"{{talk.name}}"}

      %label{for:"talk-abstract"} Abstract:
      %textarea#talk-abstract{name:"abstract", style:"width:200px"}
        {{talk.abstract}}
      %button.btn.btn-warning{type:"submit"} Save

%script{type:"text/javascript"}
  $('.edit-talk').colorbox({inline: true, width:"400px"});
