- extends 'talks/talk_base.haml'

- block 'subnav-container' 
  .subnav
    .row
      - if will_have_links
        .span10
          %h2
            {{ talk.name|truncatechars:90 }}
            - if talk.endorsements.count
              ({{ talk.endorsements.count }} <i class="icon-thumbs-up"></i>)
        .span2
          .nav.btn-group.pull-right
            - if not user.is_anonymous
              - if user == talk.speaker
                  - if talk.published
                    - if events_accepting_talks
                      %a.btn.btn-warning.submit-talk{href:"#submit-talk-popup", data-toggle:"tooltip", data-original-title:"Submit Talk"}
                        %i.icon-share-alt
                    %a.btn.btn-warning{href:"/talk/{{talk.id}}/archive?last={{last}}", data-toggle:"tooltip", data-original-title:"Hide Talk"}
                      %i.icon-eye-close
                  - else
                    %a.btn.btn-warning{href:"/talk/{{talk.id}}/publish?last={{last}}", data-toggle:"tooltip", data-original-title:"Publish Talk"}
                      %i.icon-eye-open

                  %a.btn.btn-warning.edit-talk{href:"#edit-talk-popup", data-toggle:"tooltip", data-original-title:"Edit Talk"}
                    %i.icon-pencil

                  - if not talk.talkevent_set.all
                    %a.btn.btn-warning.delete-talk{data-name:"{{talk.name}}", data-id:"{{talk.id}}", href:"#delete-talk-popup", data-toggle:"tooltip", data-original-title:"Delete Talk"}
                      %i.icon-trash
              - else
                - if user_events
                  %a.btn.btn-warning.recruit-talk{href:"#recruit-talk-popup", data-toggle:"tooltip", data-original-title:"Recruit this talk."}
                    %i.icon-hand-right
                    Recruit Talk
                - if user_attending and not user_endorsed
                  %a.btn.btn-warning{href:"/talk/{{talk.id}}/endorse?last={{last}}"}
                    %i.icon-thumbs-up Endorse
                - elif event and not user_attending
                  %a.btn.btn-warning{href:"/talk_event/{{event.id}}/attend?last={{last}}"}
                    %i.icon-calendar Attend
      - else
        .span12
          %h2
            {{ talk.name|truncatechars:90 }}
            - if talk.endorsements.count
              ({{ talk.endorsements.count }} <i class="icon-thumbs-up"></i>)

- block 'content'
  #talk
    - include 'talks/_talk_header_partial.haml'

    .row
      .span3
        .row
          .span3
            %h3 Attendees ({{attendees|length}})

            - for profile in attendees
              %a{href:"/speaker/{{profile.user.username}}"}
                {{profile.user.get_full_name}}

          .span3
            %h3 Links

            - if talk.talklink_set.all
              %ul
                - for link in talk.talklink_set.all
                  %li
                    %a{href:"{{link.url}}"}
                      {{link.name}}
            - else
              No links available.

            - if talk.speaker == user
              %form{action:"/talk/{{talk.id}}/link/new/", method:"POST"}
                - csrf_token

                %label{for:"link-name"} Name:
                %input#link-name{name:"name", type:"text", placeholder:"Blog Post"}

                %label{for:"link-url"} Url:
                %input#link-url{name:"url", type:"url", placeholder:"http://"}

                %button.btn.btn-warning{type:"submit"} Add New Link

          .span3
            .tags
              %h3 Tags
              %ul
                - for tag in talk.tags.all
                  %li {{ tag.name }}

              - if not user.is_anonymous
                %form{action:"/talk/{{talk.id}}/tag/new/", method:"POST"}
                  - csrf_token
                  %input{name:"tag", type:"text", placeholder:"My Tag"}
                  %input.btn.btn-warning{type:"submit", value:"Tag this talk"}

      .span9
        .row
          .span9
            %h3 Upcoming Events
            %hr

          - if upcoming
            - for item in upcoming
              - include 'talkevents/_talk_event_span9_detail_partial.haml'
          - else
            .span9
              No upcoming events

        .row{style:"margin-top:20px"}
          .span4
            .row
              .span2
                %h3 Slides

              - if talk.speaker == user
                .span2
                  %a.btn.btn-warning.link-slides.pull-right{href:"#link-slides-popup"} Add Slides

            .row
              .span4
                %hr

            .row
              - if talk.talkslidedeck_set.all
                - for deck in talk.talkslidedeck_set.all
                  .span4
                    - if deck.source == "SLIDESHARE"
                      <iframe src="{{deck.data}}" width="300" height="{% widthratio 300 1 deck.aspect %}" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
                    - elif deck.source == "SPEAKERDECK"
                      <script async class="speakerdeck-embed" data-id="{{deck.data}}" data-ratio="{{deck.aspect}}" src="//speakerdeck.com/assets/embed.js"></script>
              - else
                .span4
                  No slides available.

          .span4.offset1
            .row
              .span2
                %h3 Videos

              - if talk.speaker == user
                .span2
                  %a.btn.btn-warning.link-video.pull-right{href:"#link-video-popup"} Add Videos

            .row
              .span4
                %hr
            
            .row
              - if talk.talkvideo_set.all
                - for video in talk.talkvideo_set.all
                  .span4
                    - if video.source == "YOUTUBE" or video.source == "VIMEO"
                      <iframe width="300" height="{% widthratio 300 1 video.aspect %}" src="{{ video.data }}" frameborder="0" webkitAllowFullScreen, mozallowfullscreen, allowfullscreen></iframe>
              - else
                .span4
                  No videos available.

        .row{style:"margin-top:40px;"}
          .span9
            .row
              .span2
                %h3 Photos

              - if talk.speaker == user
                .span7
                  %a.btn.btn-warning.upload-photo.pull-right{href:"#upload-photo-popup"} Upload Photos

            .row
              .span9
                %hr

            .row
              - if photos
                .span9
                  .photos
                    - for photo in photos
                      %img{src:"{{MEDIA_URL}}{{photo.0}}", width:"{{photo.1}}", height:"{{photo.2}}"}
                  .clearfix
                - else
                  .span9
                    No photos available.

        .talk-detail
          - if events or talk.speaker == user and events
            .row
              .span9
                %h3 Future Events

                .row
                  #locations
                    - for event in events
                      - with event.location as location
                        .span9
                          .location
                            .map{id:"map{{location.id}}"}
                            .details
                              %h3
                                %a{href:"/event/{{event.id}}"}
                                  {{ location.name }}

                              {{ location.address }}<br />
                              {{ location.city }}, {{location.state}}, {{location.zip_code}}

          .comments{style:"margin-top:40px;"}
            %h3 Comments
            %hr

            - if not user.is_anonymous and talk.speaker != user
              %form.add-comment-form{action:"/talk/{{talk.id}}/comment/new/", method:"POST"}
                - csrf_token
                %textarea{name:'comment', placeholder:"Add your comment..."}
                %input.btn.btn-warning{type:"submit", value:"Submit Comment"}

            - if talk.talkcomment_set.all
              %ul
                - for comment in talk.talkcomment_set.all
                  %li
                    %h4 {{comment.reviewer.user.get_full_name}} said...
                    %p {{comment.comment}}
            - else
              No comments yet.


- block 'talk_scripts'
  %script{type:"text/javascript"}
    L.Icon.Default.imagePath = '{{STATIC_URL}}img/';

    - for event in events
      - with event.location as location
        (function() {
            // create a map in the "map" div, set the view to a given place and zoom
            var map = L.map('map{{location.id}}', {'zoomControl': false}).setView([39.95, -82.95], 6);

            // add an OpenStreetMap tile layer
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: ''
                }).addTo(map);

            var url = "http://nominatim.openstreetmap.org/search/{{location.geocode_querystring}}?format=json"
            $.get(url, function(data) {
                if(data.length != 0) {
                    L.marker([data[0].lat, data[0].lon]).addTo(map);
                    map.setView([data[0].lat, data[0].lon], 14);
                }
            });
        }).call(this);
