{% verbatim %}
  %script#event-detail-templ{type:"text/x-handlebars-template"}
    .subnav
      .row-fluid
        .span9
          %h2 {{ name }}
        .span3
          .addthis_container.pull-right
            .addthis_toolbox.addthis_default_style.addthis_32x32_style
              %a.addthis_button_preferred_1
              %a.addthis_button_preferred_2
              %a.addthis_button_preferred_3
              %a.addthis_button_preferred_4
              %a.addthis_button_compact
              %a.addthis_counter.addthis_bubble_style

    .content-container
      #event-header
        .row-fluid
          .span4
            %h4 
              .label.label-info {{ num_speakers }}
              .desc Speakers
            %h4
              .label.label-info {{ num_engagements }}
              .desc Engagements

            .event-tag-area
              {{#each tags}}
                .label.label-info
                  %span.count
                    {{count}}
                  %span.name
                    {{name}}
              {{/each}}
          .span8
            %p
              #map

      .row-fluid
        .section-title
          %h2 Speakers

      .row-fluid
        .speaker-list
        
      {{#each engagements}}
        .row-fluid
          .section-title
            %h2 {{name}}

        .row-fluid
          .talk-list{class:"talk-list-{{year}}"}
      {{/each}}

{% endverbatim %}