{% verbatim %}
  %script#event-manager-templ{type:"text/x-handlebars-template"}
    .row-fluid
      .section-title
        {{#if forever}}
          %h1 Event Management Dashboard. (Forever a VIP)
        {{else}}
          %h1 Event Management Dashboard.
        {{/if}}

    .event-manager
      .row-fluid
        .span12
          .dashboard-container
            .dashboard-nav
              {{#each imports}}
              .item{data-id:"{{id}}"}
                %h2
                  {{name}}
                  %i.icon-chevron-right.pull-right
              {{/each}}
              .item.new-import
                %h2
                  %i.icon-plus-sign
                  New Import
              .item.invite-speakers
                %h3
                  %a{href:"/profile/invite", target:"_blank"}
                    %i.icon-group
                    Invite Speakers
            .dashboard

  %script#create-event-import-templ{type:"text/x-handlebars-template"}
    .slide
      %h1 Create A New Event Import
      %p
        %label{for:"event-name"} Event Name:
        %input#event-name{type:"text"}

        .location-search
            %label{for:"loc-name"} Location Name:
            %input#loc-name{type:"text", data-provide:'typeahead'}
            %span#loc-reset.search.btn.addon
              %i.icon-remove

        %label{for:"loc-address"} Location Address:
        %input#loc-address{type:"text"}

        %label{for:"loc-city"} Location City:
        %input#loc-city{type:"text"}

        %label{for:"loc-state"} Location State:
        %input#loc-state{type:"text"}

        %label{for:"loc-zip"} Location Zip:
        %input#loc-zip{type:"text"}

      %button.btn.cancel Cancel
      %button.btn.btn-primary.create Create

  %script#download-template-templ{type:"text/x-handlebars-template"}
    .slide
      .slide-title
        .num 1
        .description 
          %h1 Download Template
          %p Download the Microsoft Excel, Open Document Foundation, or CSV templates below.
          %p Fill out each column in the template from your speaker and session spreadsheets.
          %p We recommend that you export this data from your conference management software and do some copy and pasteing in excel to make your data fit our template.
          %p For most organizations this process shouldn't take very long. If you spend more than 10 minutes on this call us at 407-590-1416 and we'll get you rolling as quickly as possible.

          .btn-group
            %a.btn.btn-success{href:"/static/files/spkrbar-import-template.xlsx", target:"_blank"} 
              %i.icon-download-alt
              Excel Template
            %a.btn.btn-success{href:"/static/files/spkrbar-import-template.ods", target:"_blank"}
              %i.icon-download-alt
              Open Document Template
            %a.btn.btn-success{href:"/static/files/spkrbar-import-template.csv", target:"_blank"}
              %i.icon-download-alt
              CSV Template
            %button.btn.btn-primary.to-upload
              Next Step
              %i.icon-chevron-right

  %script#upload-template-templ{type:"text/x-handlebars-template"}
    .slide
      .slide-title
        .num 2
        .description
          %h1 Upload Template
          %p Click "Upload File" and select the spreadsheet template that you filled with session and speaker information. After you click "Start" our robot-powered spreadsheet experts will look it over for potential errors.
          %p We'll show you a preview on the next page of what will be imported, then you can confirm and finalize the import.

          .btn-group
            %button.btn.to-download
              %i.icon-chevron-left
              Previous Step
            %button.btn.btn-success.do-upload
              %i.icon-upload-alt
              Upload File
            %button.btn.btn-primary.start-upload
              Start
              %i.icon-chevron-right
          %form#post-file{action:"/event-file-upload", method:"POST", target:"post-frame", enctype:"multipart/form-data"}
            %input{type:"hidden", name:"csrfmiddlewaretoken", value:"{{csrf_token}}"}
            %input{type:"hidden", name:"upload_id", value:"{{upload_id}}"}
            %input#file-choice{type:"file", name:"file"}
            %input#submit-upload{type:"submit"}
          %iframe#post-frame

  %script#uploading-templ{type:"text/x-handlebars-template"}
    Uploading...

  %script#validation-failed-templ{type:"text/x-handlebars-template"}
    .slide
      .slide-title
        .num 2
        .description
          %h1 Uh, Oh. Our robots got confused.
          %p We're sorry. Our robots got confused by a few things in your spreadsheet.
          %p Here are the things that are throwing them for a loop:
          %ul.validation-summary
            {{#each errors}}
            %li {{this}}.
            {{/each}}
          %p Please take a look at these rows, and try again.
          %button.btn.to-upload Try again

  %script#upload-preview-templ{type:"text/x-handlebars-template"}
    .slide
      .slide-title
        .num 3
        .description
          %h1 Big Success! Here's a preview.
          %p Your data hasn't been imported yet. We have validated it and everything looks good. Here is a summary of what will be imported:
          %ul.import-summary
            {{#each summary}}
            %li {{description}}
            {{/each}}
          %p Click "Confirm" to finalize the import and build your event page.
          .btn-group
            %button.btn.to-upload
              %i.icon-chevron-left
              Go Back
            %button.btn.btn-primary.confirm-upload Confirm

  %script#confirm-billing-templ{type:"text/x-handlebars-template"}
    .slide
      .slide-title
        .num 3
        .description
          %h1 Confirm your upload.
          %p We're almost done. You'll have a fantastic event page with speaker and session information in a few seconds. We just need to take a minute to go over some billing details.

          {{#if yearly_plan}}
          %p Click "Pay With Card" below to be billed $600.00 on The Yearly Plan and finalize the import.
          %p.alert.alert-info
            If you upgrade to The Forever Plan for ${{upgrade_offer}} you'll save ${{offer_savings}} over the next 5 years and get a custom subdomain for your event.
            %button.btn.upgrade-plan{style:"display:block;margin-top:20px;"} Upgrade
          .btn-group
            %button.btn.to-preview Go Back
            %button.btn.btn-primary.confirm-billing Pay With Card (Yearly)
          {{else}}
          {{#if forever_billed}}
          %p Thank you for being a Forever Member. You will not be billed again, just click "Confirm" below and we'll finalize this import for your event.
          .btn-group
            %button.btn.to-preview Go Back
            %button.btn.btn-primary.confirm-billing Finalize Upload
          {{else}}
          %p Thank you for choosing The Forever Plan. Click "Pay with Card" below to be billed ${{upgrade_offer}} and finalize the import.
          .btn-group
            %button.btn.to-preview Go Back
            %button.btn.downgrade-plan Downgrade
            %button.btn.btn-primary.confirm-billing Pay With Card (Forever)
          {{/if}}
          {{/if}}

  %script#import-started-templ{type:"text/x-handlebars-template"}
    Import Started...

  %script#import-finished-templ{type:"text/x-handlebars-template"}
    .slide
      .slide-title
        .num !
        .description
          %h1 Your Upload Has Finished!
          %p Congratulations! Now your event will live forever online. Here are some stats.

          %button.btn.to-event View Event Page

{% endverbatim %}