{% verbatim %}
  %script#event-list-templ{type:"text/x-handlebars-template"}
    .row-fluid
      .section-title
        %h2 Events
    .row-fluid
      .span12
        .section
          .row-fluid{style:"margin-bottom:40px"}
            .event-list
{% endverbatim %}