{% verbatim %}
  %script#index-templ{type:"text/x-handlebars-template"}
    #signup.under600
      .row-fluid
        .span12
          %h1.onepage
            %span Your conference content &mdash; given life, online, <b>forever.</b>
        .span12
            %a{href:"http://columbus-code-camp.spkrbar.com"}
              %img.event{src:"/static/img/event/512.png"}
        .span12
          %h2.whathappens What happens once everyone goes home?
          %h2.withus
            %span With SpkrBar you can...
          .features
            .feature
              %i.icon-hand-up
              .desc Archive all your speaker, and session content in one place.
            .feature
              %i.icon-search
              .desc Provide attendees with a searchable database of sessions.
            .feature
              %i.icon-gift
              .desc Promote your speakers and sessions, online.
            .feature
              %i.icon-th
              .desc Organize and categorize everything into searchable topics.
            .feature
              %i.icon-link
              .desc Pair Twitter, LinkedIn, and other resources together.
            .feature
              %i.icon-film
              .desc Embed videos from Youtube and Vimeo.
            .feature
              %i.icon-desktop
              .desc Embed slides from SlideShare and SpeakerDeck.
            .feature
              %i.icon-comments-alt
              .desc Talk with your speakers and attendees about their favorite things, and answer questions they have.
        .span12
          .longblock 
            %h2 Every session has a home, all organized, in one place.

        .span12
          .import-title
            %h1 Importing your content is <b>easy</b>.
            %h2 It only takes 3 steps, and you only have to do it <u>once</u>.

        .span12
          .crowdsourced
            %i.icon-group
            %h1 Harness the power of the <b>crowd</b>.
            %h3 Once you import your content, your speakers will update and maintain your content for you.
            %h3 You <b>never</b> need to touch it again.

    #signup.under800
      .row-fluid
        .span12
          %h1.onepage
            %span Your conference content &mdash; given life, online, <b>forever.</b>
      .row-fluid
        .span3
            %a{href:"http://columbus-code-camp.spkrbar.com"}
              %img.event{src:"/static/img/event/512.png"}
        .span9
          %h2.whathappens What happens once everyone goes home?
          %h2.withus
            %span With SpkrBar you can...
          .features
            .feature
              %i.icon-hand-left
              .desc Archive all your speaker, and session content in one place.
            .feature
              %i.icon-search
              .desc Provide attendees with a searchable database of sessions.
            .feature
              %i.icon-gift
              .desc Promote your speakers and sessions, online.
            .feature
              %i.icon-th
              .desc Organize and categorize everything into searchable topics.
            .feature
              %i.icon-link
              .desc Pair Twitter, LinkedIn, and other resources together.
            .feature
              %i.icon-film
              .desc Embed videos from Youtube and Vimeo.
            .feature
              %i.icon-desktop
              .desc Embed slides from SlideShare and SpeakerDeck.
            .feature
              %i.icon-comments-alt
              .desc Talk with your speakers and attendees about their favorite things, and answer questions they have.
        .span9
          .longblock 
            %h2 Every session has a home, all organized, in one place.
            
      .row-fluid  
        .span12
          .import-title
            %h1 Importing your content is <b>easy</b>.
            %h2 It only takes 3 steps, and you only have to do it <u>once</u>.

      .row-fluid
        .span12
          .crowdsourced
            %i.icon-group
            %h1 Harness the power of the <b>crowd</b>.
            %h3 Once you import your content, your speakers will update and maintain your content for you.
            %h3 You <b>never</b> need to touch it again.

    #signup.under1000
      .row-fluid
        .span12
          %h1.onepage
            %span Your conference content &mdash; given life, online, <b>forever.</b>
      .row-fluid
        .span4
            %a{href:"http://columbus-code-camp.spkrbar.com"}
              %img.event{src:"/static/img/event/512.png"}
        .span8              
          %h2.whathappens What happens to your session content once everyone goes home?
          %h2.withus
            %span With SpkrBar you can...
          .features
            .feature
              %i.icon-hand-left
              .desc Archive all your speaker, and session content in one place.
            .feature
              %i.icon-search
              .desc Provide attendees with a searchable database of sessions.
            .feature
              %i.icon-gift
              .desc Promote your speakers and sessions, online.
            .feature
              %i.icon-th
              .desc Organize and categorize everything into searchable topics.
            .feature
              %i.icon-link
              .desc Pair Twitter, LinkedIn, and other resources together.
            .feature
              %i.icon-film
              .desc Embed videos from Youtube and Vimeo.
            .feature
              %i.icon-desktop
              .desc Embed slides from SlideShare and SpeakerDeck.
            .feature
              %i.icon-comments-alt
              .desc Talk with your speakers and attendees about their favorite things, and answer questions they have.
        .span8
          .longblock 
            %h2 Every session has a home, all organized, in one place.

        .span8
          .import-title
            %h1 Importing your content is <b>easy</b>.
            %h2 It only takes 3 steps, and you only have to do it <u>once</u>.

        .span8
          .crowdsourced
            %i.icon-group
            %h1 Harness the power of the <b>crowd</b>.
            %h3 Once you import your content, your speakers will update and maintain your content for you.
            %h3 You <b>never</b> need to touch it again.

    #signup.under1200
      .row-fluid
        .span3
          .event-img-container
            %a{href:"http://columbus-code-camp.spkrbar.com"}
              %img.event{src:"/static/img/event/512.png"}

        .span9
          .row-fluid
            .span-12
              %h1.onepage
                %span Your conference content &mdash; given life, online, <b>forever.</b>
              %h2.whathappens What happens to your session content once everyone goes home?

            .span12              
              %h2.withus
                %span With SpkrBar you can...
              .features
                .feature
                  %i.icon-hand-left
                  .desc Archive all your speaker, and session content in one place.
                .feature
                  %i.icon-search
                  .desc Provide attendees with a searchable database of sessions.
                .feature
                  %i.icon-gift
                  .desc Promote your speakers and sessions, online.
                .feature
                  %i.icon-th
                  .desc Organize and categorize everything into searchable topics.
                .feature
                  %i.icon-link
                  .desc Pair Twitter, LinkedIn, and other resources together.
                .feature
                  %i.icon-film
                  .desc Embed videos from Youtube and Vimeo.
                .feature
                  %i.icon-desktop
                  .desc Embed slides from SlideShare and SpeakerDeck.
                .feature
                  %i.icon-comments-alt
                  .desc Talk with your speakers and attendees about their favorite things, and answer questions they have.

            .span12
              .longblock 
                %h2 Every session has a home, all organized, in one place online.

            .span12
              .import-title
                %h1 Importing your content is <b>easy</b>.
                %h2 It only takes a few steps, and you only have to do it <b>once</b>.

        .span12
          .crowdsourced
            %i.icon-group
            %h1 Harness the power of the <b>crowd</b>.
            %h3 Once you import your content, your speakers will update and maintain your content for you.
            %h3 You <b>never</b> need to touch it again.

    #signup.over1200
      .row-fluid
        .span3
          .event-img-container
            %a{href:"http://columbus-code-camp.spkrbar.com"}
              %img.event{src:"/static/img/event/512.png"}

        .span9
          .row-fluid
            .span12
              %h1.onepage
                %span Your conference content &mdash; given life, online, <b>forever.</b>
              %h2.whathappens What happens to your session content once everyone goes home?

            .span12              
              %h2.withus
                %span With SpkrBar you can...
              .features
                .feature
                  %i.icon-hand-left
                  .desc Archive all your speaker, and session content in one place.
                .feature
                  %i.icon-search
                  .desc Provide attendees with a searchable database of sessions.
                .feature
                  %i.icon-gift
                  .desc Promote your speakers and sessions, online.
                .feature
                  %i.icon-th
                  .desc Organize and categorize everything into searchable topics.
                .feature
                  %i.icon-link
                  .desc Pair Twitter, LinkedIn, and other resources together.
                .feature
                  %i.icon-film
                  .desc Embed videos from Youtube and Vimeo.
                .feature
                  %i.icon-desktop
                  .desc Embed slides from SlideShare and SpeakerDeck.
                .feature
                  %i.icon-comments-alt
                  .desc Talk with your speakers and attendees about their favorite things, and answer questions they have.

            .span12
              .import-title
                %h1 Importing your content is <b>easy</b>.
                %h2 It only takes a few steps, and you only have to do it <b>once</b>.

            .span12
              .crowdsourced
                %i.icon-group
                %h1 Harness the power of the <b>crowd</b>.
                %h3 Once you import your content, your speakers will update and maintain your content for you.
                %h3 You <b>never</b> need to touch it again.

    .row-fluid
      .section-title
        %h1 How It Works

    .row-fluid        
      .import-section
        .span12
          .row-fluid
            .span2
              .num 1
            .span10
              .description
                %h1 Create an account.
                %p Creating an account with us takes about 30 seconds. We strive for everything at SpkrBar to be as easy as possible, and joining us is no exception.
          .row-fluid
            .span2
              .num 2
            .span10
              .description
                %h1 Download the template.
                %p Once you sign up with us, we'll give you a spreadsheet template to download. The spreadsheet template is in a format that should be familiar to you. It is modeled after what most conference organizing teams will typically arrive at after they finish their call for proposal or speaker invitations.
          .row-fluid
            .span2
              .num 3
            .span10
              .description
                %h1 Edit the template.
                %p The template will have columns for all the information we need to build your event page, session pages, and speaker profiles. You don't have to fill out everything, but giving us as much information as you can will make sure that we will build the most complete picture of your event that is possible.
          .row-fluid
            .span2
              .num 4
            .span10
              .description
                %h1 Upload the template.
                %p After uploading the spreadsheet, we will create profiles for every speaker, and session at your event. Then we will automatically link everything together. We will create an account for each of your speakers and give them the power to make sure their sessions stay up to date. From that point on, your speakers will manage their own talks, and profiles and your content will evolve and grow over time.

    /.row-fluid
    /  .section-title{style:"margin-top:80px;"}
    /    %h2 Here are some of the things our customers are saying about SpkrBar.

    /.row-fluid
    /  .span12
    /    .testimonials
    /      .quote
    /        %i.icon-quote-left
    /        SpkrBar.com is the greatest thing ever.
    /        .attrib &mdash; Awesome Person
    /      .quote
    /        %i.icon-quote-left
    /        SpkrBar.com is the greatest thing ever.
    /        .attrib &mdash; Awesome Person
    /      .quote
    /        %i.icon-quote-left
    /        SpkrBar.com is the greatest thing ever.
    /        .attrib &mdash; Awesome Person
    /      .quote
    /        %i.icon-quote-left
    /        SpkrBar.com is the greatest thing ever.
    /        .attrib &mdash; Awesome Person
    /      .quote
    /        %i.icon-quote-left
    /        SpkrBar.com is the greatest thing ever.
    /        .attrib &mdash; Awesome Person
    /      .quote
    /        %i.icon-quote-left
    /        SpkrBar.com is the greatest thing ever.
    /        .attrib &mdash; Awesome Person

    .row-fluid
      .section-title.get-started{style:"margin-top:40px;"}
        %h2 Getting started is easy. Let us show you how.

    .row-fluid
      .span12
        #options-container
          .ribbon-wrapper-green
            %a.speaker-register
              .ribbon-green
                100% FREE for Speakers
                %br
                Sign up here!

          .options
            .option
              %h3.title The Yearly Plan
              %ul
                %li Store your content <b>forever</b>.
                %li 1 year of conference content.
                %li Easy Import from Excel or CSV.
                %li Crowdsourced, content management.
              %button.yearly-register.btn.btn-warning
                <sup>&Dagger;</sup> 50.00 / month
              .footnote <sup>&Dagger;</sup> Billed once at $600.00
            .option.primary
              %h3.title The Forever Plan
              %ul
                %li Store your content <b>forever</b>.
                %li Every year of conference content.
                %li Easy Import from Excel or CSV.
                %li Crowdsourced, content management.
                %li Custom Domain: <b>mycon.spkrbar.com</b>
                %li Living, Breathing, 24/7 Support.
                %li Questions? Call us at 407-590-1416.
              %button.forever-register.btn.btn-warning
                <sup>&dagger;</sup> $40.00 / month
              .footnote <sup>&dagger;</sup> Billed once at $2400.00. (Value estimated over 5 years)
            .option.last
              %h3.title The Free Plan
              %ul
                %li Invite your Speakers
                %li Crowdsourced, content management.
                %li Community based support.
              %button.invite-register.btn.btn-warning
                <sup>*</sup> Absolutely Free!
              .footnote <sup>*</sup> Seriously, free. No ads. No emails. No strings.

    .row-fluid
      .section-title
        %h2 &nbsp;
{% endverbatim %}