{% verbatim %}
  %script#index-templ{type:"text/x-handlebars-template"}
    #signup.under600
      .row-fluid
        .span12
          %h1.onepage
            %span Your event's content, given life, online, <b>forever.</b>
        .span12
            %a{href:"http://columbus-code-camp.spkrbar.com"}
              %img.event{src:"/static/img/event/512.png"}
        .span12
          %h2.withus
            %span With SpkrBar you can...
          .features
            .feature
              %i.icon-th
              .desc Categorize session content into topics.
            .feature
              %i.icon-link
              .desc Link social resources to each session.
            .feature
              %i.icon-film
              .desc Embed videos from Youtube and Vimeo.
            .feature
              %i.icon-desktop
              .desc Embed slide decks from SlideShare and SpeakerDeck.
            .feature
              %i.icon-comments-alt
              .desc Participate in the discussion around your attendees' favorite sessions.
        .span12
          .longblock 
            %h2 Every session has a home, all organized, in one place.

    #signup.under800
      .row-fluid
        .span12
          %h1.onepage
            %span Your event's content, given life, online, <b>forever.</b>
      .row-fluid
        .span3
            %a{href:"http://columbus-code-camp.spkrbar.com"}
              %img.event{src:"/static/img/event/512.png"}
        .span9
          %h2.withus
            %span With SpkrBar you can...
          .features
            .feature
              %i.icon-th
              .desc Categorize session content into topics.
            .feature
              %i.icon-link
              .desc Link social resources to each session.
            .feature
              %i.icon-film
              .desc Embed videos from Youtube and Vimeo.
            .feature
              %i.icon-desktop
              .desc Embed slide decks from SlideShare and SpeakerDeck.
            .feature
              %i.icon-comments-alt
              .desc Participate in the discussion around your attendees' favorite sessions.
        .span9
          .longblock 
            %h2 Every session has a home, all organized, in one place.
            
      .row-fluid  
        .span12
          .import-title
            %h1 Importing your content is <b>easy</b>.
            %h2 It only takes 3 steps, and you only have to do it <u>once</u>.

    #signup.under1000
      .row-fluid
        .span12
          %h1.onepage
            %span Your event's content, given life, online, <b>forever.</b>
      .row-fluid
        .span4
            %a{href:"http://columbus-code-camp.spkrbar.com"}
              %img.event{src:"/static/img/event/512.png"}
        .span8              
          %h2.withus
            %span With SpkrBar you can...
          .features
            .feature
              %i.icon-th
              .desc Categorize session content into topics.
            .feature
              %i.icon-link
              .desc Link social resources to each session.
            .feature
              %i.icon-film
              .desc Embed videos from Youtube and Vimeo.
            .feature
              %i.icon-desktop
              .desc Embed slide decks from SlideShare and SpeakerDeck.
            .feature
              %i.icon-comments-alt
              .desc Participate in the discussion around your attendees' favorite sessions.
        .span8
          .longblock 
            %h2 Every session has a home, all organized, in one place.

        .span8
          .import-title
            %h1 Importing your content is <b>easy</b>.
            %h2 It only takes 3 steps, and you only have to do it <u>once</u>.

    #signup.over1000
      .row-fluid
        .span3
          .event-img-container
            %a{href:"http://columbus-code-camp.spkrbar.com"}
              %img.event{src:"/static/img/event/512.png"}

        .span9
          .row-fluid
            .span-12
              %h1.onepage
                %span The content from your event, given life, online, <b>forever.</b>

            .span12              
              %h2.withus
                %span With SpkrBar you can...
              .features
                .feature
                  %i.icon-th
                  .desc Categorize session content into topics.
                .feature
                  %i.icon-link
                  .desc Link social resources to each session.
                .feature
                  %i.icon-film
                  .desc Embed videos from Youtube and Vimeo.
                .feature
                  %i.icon-desktop
                  .desc Embed slide decks from SlideShare and SpeakerDeck.
                .feature
                  %i.icon-comments-alt
                  .desc Participate in the discussion around your attendees' favorite sessions.

            .span12
              .longblock 
                %h2 Every session has a home, all organized, in one place online.

            .span12
              .import-title
                %h1 Importing your content is <b>easy</b>.
                %h2 It only takes a few steps, and you only have to do it <b>once</b>.

    .row-fluid
      .section-title
        %h1 How does it work?

    .row-fluid        
      .import-section
        .span12
          .row-fluid
            .span2
              .num 1
            .span10
              .description
                %h1 Create an account.
                %p Creating an account with us takes about 30 seconds. There is absolutely zero obligiation. We won't bill you until after you upload your data.
          .row-fluid
            .span2
              .num 2
            .span10
              .description
                %h1 Download the template.
                %p Once you sign up with us, we'll give you a Excel or CSV template to download. It will have columns for all the information we need to build your event page, session pages, and speaker profiles.
          .row-fluid
            .span2
              .num 3
            .span10
              .description
                %h1 Edit the spreadsheet.
                %p The spreadsheet is already in a format you are familiar with. You don't have to fill out everything but the more information you give us, the more complete the picture we can paint for your event.
          .row-fluid
            .span2
              .num 4
            .span10
              .description
                %h1 Upload it.
                %p After uploading the spreadsheet, we will create profiles for every speaker, and session. Then we will automatically link all these resources together. We will create an account for each of your speakers. Your speakers will have the power to make sure their sessions stay up to date, and answer any questions your attendees may have about their talks.

    .row-fluid
      .section-title{style:"margin-top:80px;"}
        %h2 Here are some of the things our customers are saying about SpkrBar.

    .row-fluid
      .span12
        .testimonials
          .quote
            %i.icon-quote-left
            SpkrBar.com is the greatest thing ever.
            .attrib &mdash; Awesome Person
          .quote
            %i.icon-quote-left
            SpkrBar.com is the greatest thing ever.
            .attrib &mdash; Awesome Person
          .quote
            %i.icon-quote-left
            SpkrBar.com is the greatest thing ever.
            .attrib &mdash; Awesome Person
          .quote
            %i.icon-quote-left
            SpkrBar.com is the greatest thing ever.
            .attrib &mdash; Awesome Person
          .quote
            %i.icon-quote-left
            SpkrBar.com is the greatest thing ever.
            .attrib &mdash; Awesome Person
          .quote
            %i.icon-quote-left
            SpkrBar.com is the greatest thing ever.
            .attrib &mdash; Awesome Person

    .row-fluid
      .section-title.get-started{style:"margin-top:40px;"}
        %h2 Getting started is easy. Let us show you how.

    .row-fluid
      .span12
        #options-container
          .ribbon-wrapper-green
            %a{href:"/register"}
              .ribbon-green
                100% FREE for Speakers
                %br
                Sign up here!

          .options
            .option
              %h3.title The Yearly Plan
              %ul
                %li Store your content <b>forever</b>.
                %li 1 year of content.
                %li Easy Import from Excel or CSV.
                %li Crowdsourced, content management.
              %button.btn.btn-warning
                <sup>&Dagger;</sup> 50.00 / month
              .footnote <sup>&Dagger;</sup> Billed once at $600.00
            .option.primary
              %h3.title The Forever Plan
              %ul
                %li Store your content <b>forever</b>.
                %li <b>Unlimited</b> years of content.
                %li Easy Import from Excel or CSV.
                %li Crowdsourced, content management.
                %li Custom Domain: <b>mycon.spkrbar.com</b>
                %li Living, Breathing, 24/7 Support.
                %li Questions? Call us at 407-590-1416.
              %button.btn.btn-warning
                <sup>&dagger;</sup> $40.00 / month
              .footnote <sup>&dagger;</sup> Billed once at $2400.00. ($40.00/mo over 5 years)
            .option.last
              %h3.title The Free Plan
              %ul
                %li Invite your Speakers
                %li Crowdsourced, content management.
                %li No Easy Import.
                %li No Support
              %button.btn.btn-warning
                <sup>*</sup> Absolutely Free!
              .footnote <sup>*</sup> Seriously, free. No ads. No emails. No strings.

    .row-fluid
      .section-title
        %h2 &nbsp;
{% endverbatim %}