{% verbatim %}
  %script#index-templ{type:"text/x-handlebars-template"}
    .best-way
      ~~ The best way to share, manage, and discover awesome presentations online. ~~

    .row-fluid
      .section-title
        %h2 Recently Updated Talks

    .talk-list
{% endverbatim %}