{% verbatim %}
  %script#profile-talk-templ{type:"text/x-handlebars-template"}
    .header
      .title
        .grid1
          %a{href:"{{url}}"}
            {{ name }}

        {{#if userLoggedIn}}
          .grid2
            .btn-group
              {{#if endorsed}}
                .btn.btn-warning.disabled.endorsed
                  %i.icon-thumbs-up
              {{else}}
                %a.endorse-talk.btn.btn-warning{data-id:"{{id}}", data-original-title:"Endorse Talk", data-toggle:"tooltip"}
                  %i.icon-thumbs-up
              {{/if}}
        {{/if}}

    .description
      .abstract {{{abstract}}}
{% endverbatim %}