{% verbatim %}
  %script#register-user-templ{type:"text/x-handlebars-template"}
    .row-fluid
      .span12
        %h1 Welcome to SpkrBar.

    {{#if is_event_planner}}
      {{#if forever_plan}}
        .row-fluid
          .span12
            %h4 The forever plan.
            %h5 Store every year of your conferences content forever.
            %small (You can upgrade, downgrade, or cancel later on)
      {{/if}}
      {{#if yearly_plan}}
        .row-fluid
          .span12
            %h4 The yearly plan.
            %h5 Store 1 year of your conferences content forever.
            %small (You can upgrade, downgrade, or cancel later on)
      {{/if}}
    {{/if}}

    .row-fluid
      .span12
        #alert-area{style:"display:none"}

    .row-fluid
      .form-area
        .span6
          %label{for:"email"} Your Email:
          #email-error.error
          %input#email{type:"email", name:"email", value:"{{email}}"}

          %label{for:"password"} Password:
          #password-error.error
          %input#password{type:"password", name:"password", value:"{{password}}"}

          %label{for:"confirm"} Confirm:
          #confirm-error.error
          %input#confirm{type:"password", name:"confirm", value:"{{confirm}}"}

        .span6
          %label{for:"full_name"} Your Full Name:
          #full_name-error.error
          %input#full_name{type:"text", name:"full_name", value:"{{full_name}}"}

          %label{for:"about_me"} About Me:
          #about_me-error.error
          <textarea id="about_me" name="about_me" rows=6 cols=40>{{about_me}}</textarea>

    .row-fluid
      .span12
        %input#register-submit.btn.btn-warning{type:"submit", value:"Register"}

  %script#register-alert-templ{type:"text/x-handlebars-template"}
    .alert.alert-error
      %button.close{type:"button", data-dismiss:"alert"} &times;
      {{error}}
{% endverbatim %}