{% verbatim %}
    %script#talks-layout-templ{type:"text/x-handlebars-template"}
        #subnav
        .content-container
            Last 6 Months
            #l6m
            Last 3 Months
            #l3m
            Last 30 Days
            #l30d
            Next 30 Days
            #n30d
            Next 3 Months
            #n3m
            Next 6 Months
            #n6m
{% endverbatim %}