{% verbatim %}
  %script#talk-list-templ{type:"text/x-handlebars-template"}
    .row-fluid
      .section-title
        %h2 Upcoming Engagements

    .row-fluid
      .talk-list.upcoming

    .row-fluid
      .section-title
        %h2 Recent Engagements

    .row-fluid
      .talk-list.recent
{% endverbatim %}