#event-detail {
    h2.date {
        width: 460px;
    }

    .talk-photo {
        margin-top: 20px;

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        i {
            display: block;
            width: 180px;
            margin-left: auto;
            margin-right: auto;
            font-size: 12em;
            color: rgb(185, 185, 185);
        }
    }

    .speakers {
        list-style-type: none;
        margin: 0px;

        .speaker h4 { width: 100%; }

        .speaker i { 
            display: block;
            width: 180px;
            margin-left: auto;
            margin-right: auto;
            font-size: 12em;
            color: rgb(185, 185, 185);
        }
    }

    .add-comment-form {

        textarea {
            width: 680px;
            height: 120px;
        }
    }

    #event-map {
        width: 220px;
        height: 220px;
    }
}

ul.events {
    list-style-type: none;
    margin: 0px;

    li {
        border: 1px solid #eee;
        height: 200px;
        margin-bottom: 20px;
        padding: 10px;

        img {
            max-width: 120px;
            margin-right: 20px;
        }

        i.icon-camera { 
            display: block;
            width: 120px;
            margin-left: auto;
            margin-right: auto;
            font-size: 6em;
            color: rgb(185, 185, 185);
        }

        span div {
            display: inline-block;
        }
    }
}

#event-new {
    .addon {
        display: inline-block;
        vertical-align: top;
        height: 24px;
        margin-left: -6px;
        padding: 4px 6px 0px 6px;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 0px 5px 5px 0px;
    }

    #id_location {
        border-right: 0px;
    }

    #map {
        height: 400px;
    }

    #add-location {
        margin-top: -10px;
    }
}
