.span6
  %li
    .title
      %a{href:"{{talk.get_absolute_url}}"}
        {{ talk.name|truncatechars:40 }}
      %br by {{ talk.speaker.user.get_full_name }}
    .description
      - if talk.speaker.photo
        %img.pull-left{src:"{{STATIC_URL}}img/photo/{{talk.speaker.photo}}"}
      - else
        %i.icon-user.photo-placeholder.pull-left

      %span {{ talk.abstract|truncatechars:140 }}
