.talk-header
  .row
    .span3
      .picture.well
        - if talk.speaker.photo
          %img{src:"{{STATIC_URL}}img/photo/{{ talk.speaker.photo}}"}
        - else
          %i.icon-user.photo-placeholder-large

        .about
          %h4
            %a{href:"/speaker/{{talk.speaker.user.username}}"}
              {{ talk.speaker.user.get_full_name }}

    .span9
      - if will_have_links
          {% include '_talk_edit_links_partial.html' %}

          %h2.short.pull-left
            {{ talk.name|truncatechars:68 }}
            {% if talk.endorsements.count %}
                ({{ talk.endorsements.count }} <i class="icon-thumbs-up"></i>)
            {% endif %}

          .clearfix
      - else
          %h2
            {{ talk.name|truncatechars:90 }}
            - if talk.endorsements.count
              ({{ talk.endorsements.count }} <i class="icon-thumbs-up"></i>)

      .talk-detail
        %h3 Abstract
        %p {{ talk.abstract }}
