{% extends 'talk_base.html' %}

{% block 'head' %}
    {{ talk_form.media }}
{% endblock %}

{% block 'content' %}
    <div class="row">
        <div class="span12">
            {% if error %}
                <div class="alert alert-error">
                    {{error}}
                </div>
            {% endif %}

            <div class="row">
                <div class="span6">
                    <form id="new-talk-form" action="/talk/{{talk_form.instance.id}}/edit/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="span6">
                                <h2>What are you talking about?</h2>
                                <hr />
                            </div>
                        </div>

                        {% for field in talk_form %}
                            {% if field.errors %}
                                <div class="alert">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>Warning!</strong> {{ field.label }} {{ field.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for field in talk_form %}
                            <div class="row">
                                <div class="span1">
                                    <label>{{field.label}}:</label>
                                </div>
                                <div class="span5">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="row">
                            <div class="span6">
                                <input class="btn btn-warning" type="submit" value="Save Talk"/>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="span6">
                    <form id="new-talk-form" action="/location/new/" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="span6">
                                <h2>Where are you talking at?</h2>
                                <hr />
                            </div>
                        </div>

                        {% for field in location_form %}
                            {% if field.errors %}
                                <div class="alert">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>Warning!</strong> {{ field.label }} {{ field.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for field in location_form %}
                            <div class="row">
                                <div class="span1">
                                    <label>{{field.label}}:</label>
                                </div>
                                <div class="span5">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="row">
                            <div class="span6">
                                <input class="btn btn-warning" type="submit" value="Add Location"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
