{% extends 'talk_base.html' %}

{% block 'callout' %}
    {% if user.is_anonymous %}
        <div class="jumbotron callout">
            <h2 class="btn-warning">Finally, a place for speakers.</h2>
            <a class="btn btn-large btn-warning" href="/register/">Add your talk.</a>
        </div>
    {% endif %}
{% endblock %}


{% block 'content' %}
    <div class="row">
        <div class="span12">
            <h2>Upcoming Talks</h2>
        </div>
    </div>

    {% for talk in talks %}
        <div class="row">
            <div class="span12">
                <h3>{{ talk.date }}</h3>
            </div>

            <div class="talks">
                <ul>
                    {% for talk in talk.talks %}
                        <div class="span4">
                            <li>
                                <h4>{{ talk.name|truncatechars:30 }}</h4>
                                <h5>{{ talk.date }}</h5>
                                <img class="pull-left" src="{{STATIC_URL}}img/{% cycle 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 %}.jpeg">
                                <span>
                                    {{ talk.abstract|truncatechars:80 }}
                                    <i class="icon-globe"></i>
                                    <div>{{ talk.location.city}}</div>
                                </span>
                                <a href="/talk/{{talk.pk}}">More >></a>
                            </li>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}

{% endblock %}
