{% extends 'talk_base.html' %}

{% block 'head' %}
    {{ form.media }}
{% endblock %}

{% block 'content' %}
    <div class="row">
        <div class="span12">
            {% if error %}
                <div class="alert alert-error">
                    {{error}}
                </div>
            {% endif %}

            <div class="row">
                <form id="new-talk-form" action="/talk/new/" method="POST">
                    {% csrf_token %}

                    <div class="span6">
                        <div class="row">
                            <div class="span6">
                                <h2>What are you talking about?</h2>
                                <hr />
                            </div>

                            <div class="span2">
                                <label for="id_name">Talk Title:</label>
                            </div>
                            <div class="span4">
                                {{ form.name }}
                            </div>

                            <div class="span2">
                                <label for="id_abstract">Abstract:</label>
                            </div>
                            <div class="span4">
                                {{ form.abstract }}
                            </div>

                            <div class="span2">
                                <label for="id_date">Date and Time:</label>
                            </div>
                            <div class="span4">
                                {{ form.date }}
                            </div>
                        </div>
                    </div>

                    <div class="span6">
                        <div class="row">
                            <div class="span6">
                                <h2>Where are you talking at?</h2>
                                <hr />
                            </div>

                            <div class="span2">
                                <label for="id_location_name">Location Name:</label>
                            </div>
                            <div class="span4">
                                {{ form.location_name }}
                            </div>

                            <div class="span2">
                                <label for="id_location_address">Location Address:</label>
                            </div>
                            <div class="span4">
                                {{ form.location_address }}
                            </div>

                            <div class="span2">
                                <label for="id_city">Location City:</label>
                            </div>
                            <div class="span4">
                                {{ form.location_city }}
                            </div>

                            <div class="span2">
                                <label for="id_state">Location State:</label>
                            </div>
                            <div class="span4">
                                {{ form.location_state }}
                            </div>
                        </div>
                    </div>
                </div>

                <input class="btn btn-warning" type="submit" value="Submit your talk"/>
            </form>
        </div>
    </div>
{% endblock %}
