{% extends 'talk_base.html' %}

{% block 'callout' %}
    {% if user.is_anonymous %}
        <div class="jumbotron callout">
            <h2 class="btn-warning">Finally, a place for speakers.</h2>
            <a class="btn btn-large btn-warning" href="/register/">Register Now.</a>
        </div>
    {% else %}
        <div class="jumbotron callout">
            <h2 class="btn-warning">Finally, a place for speakers.</h2>
            <a class="btn btn-large btn-warning" href="/talk/new/">Add your talk.</a>
        </div>
    {% endif %}
{% endblock %}


{% block 'content' %}
    <div class="row">
        <div class="span12">
            <h2>Upcoming Talks</h2>
        </div>
    </div>

    {% for group in event_groups %}
        <div class="row">
            <div class="span12">
                <h3>{{ group.date }}</h3>
            </div>

            <div class="talks">
                <ul>
                    {% for event in group.events %}
                        {% include '_talk_thumb_detailed_partial.html' %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}

{% endblock %}
