{% extends 'talk_base.html' %}

{% block 'head' %}
    {{ form.media }}
{% endblock %}

{% block 'content' %}
    <div class="row">
        <div class="span12">
            {% if error %}
                <div class="alert alert-error">
                    {{error}}
                </div>
            {% endif %}

            <div class="row">
                <div class="span6">
                    <form id="new-talk-form" action="/talk/new/" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="span6">
                                <h2>What are you talking about?</h2>
                                <hr />
                            </div>

                            {% for error in talk_form.errors %}
                                <div class="alert">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>Warning!</strong> {{ error }}
                                </div>
                            {% endfor %}

                            <div class="span2">
                                <label for="id_name">Talk Title:</label>
                            </div>
                            <div class="span4">
                                {{ talk_form.name }}
                            </div>

                            <div class="span2">
                                <label for="id_abstract">Abstract:</label>
                            </div>
                            <div class="span4">
                                {{ talk_form.abstract }}
                            </div>

                            <div class="span2">
                                <label for="id_date">Date and Time:</label>
                            </div>
                            <div class="span4">
                                {{ talk_form.date }}
                            </div>

                            <div class="span2">
                                <label for="id_location">Location:</label>
                            </div>
                            <div class="span4">
                                {{ talk_form.location }}
                            </div>
                        </div>

                        <input class="btn btn-warning" type="submit" value="Submit your talk"/>
                    </form>
                </div>

                <div class="span6">
                    <form id="new-talk-form" action="/location/new/" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="span6">
                                <h2>Where are you talking at?</h2>
                                <hr />
                            </div>

                            <div class="span2">
                                <label for="id_location_name">Name:</label>
                            </div>
                            <div class="span4">
                                {{ location_form.name }}
                            </div>

                            <div class="span2">
                                <label for="id_location_address">Address:</label>
                            </div>
                            <div class="span4">
                                {{ location_form.address }}
                            </div>

                            <div class="span2">
                                <label for="id_city">City:</label>
                            </div>
                            <div class="span4">
                                {{ location_form.city }}
                            </div>

                            <div class="span2">
                                <label for="id_state">State:</label>
                            </div>
                            <div class="span4">
                                {{ location_form.state }}
                            </div>

                            <div class="span2">
                                <label for="id_state">Zip Code:</label>
                            </div>
                            <div class="span4">
                                {{ location_form.zip_code }}
                            </div>
                        </div>

                        <input class="btn btn-warning" type="submit" value="Add Location"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
