{% extends 'talk_base.html' %}

{% block 'content' %}
<div id="talk">
    <div class="row">
        <div class="span3">
            <h3>Speakers</h3>
            <ul class="speakers">
                {% for speaker in talk.speakers.all %}
                    <li>
                        <div class="speaker">
                            {% if speaker.photo %}
                                <img src="{{STATIC_URL}}img/photo/{{ speaker.photo}}"></img>
                            {% else %}
                                <i class="icon-user profile-placeholder"></i>
                            {% endif %}

                            <div class="about">
                                <h4>
                                    <a href="/speaker/{{speaker.user.username}}">
                                    {{ speaker.user.get_full_name }}
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <h3>Tags</h3>
            <ul>
                {% for tag in talk.tags.all %}
                <li>{{ tag.name }}</li>
                {% endfor %}
            </ul>

            <h3>Location</h3>
            <div class="location">
                <h4>{{ talk.location.name }}</h4>
                <p>{{talk.location.address}}</p>
                <p>{{talk.location.city}}, {{ talk.location.state }} {{ talk.location.zip_code }}</p>
            </div>
        </div>

        <div class="span9">
            <h2>{{ talk.name }}</h2>
            <p>{{talk.date}}</p>


            <h3>Abstract</h3>
            <p>{{talk.abstract}}</p>

            <div class="comments">
                <h3>Comments</h3>

                <form class="add-comment-form" action="#" method="POST">
                    <textarea>Add your comment...</textarea><br />
                    <input class="btn btn-warning" type="submit" value="Submit Comment" />
                </form>

                <ul>
                    <li>
                        <h4>Bob Loblaw said</h4>
                        <p>
                            Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.
                        </p>
                    </li>

                    <li>
                        <h4>Sue Summers said</h4>
                        <p>
                            Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.
                        </p>
                    </li>

                    <li>
                        <h4>Zee Spencer said</h4>
                        <p>
                            Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
