
- if talk.links.all or user == talk.speaker.user
  .span3
    %h3 Links

- if talk.links.all
  - for link in talk.links.all
    .span3
      %p.talk-link{data-talk:"{{talk.id}}", data-id:"{{link.id}}"}
        %a{href:"{{link.url_target}}", target:"_blank"}
          My {{ link.name|title }}
        %i.delete-talk-link.icon-remove.pull-right{data-talk:"{{talk.id}}", data-id:"{{link.id}}"}

- if talk.speaker.user == user
  .edit-links
    .span3
      %form.talk-link-form{action:"/talk/{{talk.id}}/link/new", method:"POST"}
        - csrf_token
        {{ link_form.name }}
        {{ link_form.url }}

        %input.btn.btn-warning{type:"submit", value:"Add New Link"}
