%div{style:'display:none'}
  #submit-talk-popup
    %h3 Create a new Engagement
    %h4 {{ talk.name }}

    %label{for:"event-list"} Event:
    %input#event-list{name:"event", placeholder:"Enter the name of the event", type:"text", autocomplete:"off"}
    %span.search.addon
        %i.icon-search

    %input{type:"hidden", name:"talk", value:"{{talk.id}}"}

    %label{for:"date"} Date:
    %input#date{name:"date", type:"text"}

    %label{for:"time"} Time:
    %input#time{name:"time", type:"text"}

    .clearfix
    %button#submit-engagement.btn.btn-warning{type:"submit"} Submit
