%div{style:'display:none'}
  #submit-talk-popup
    %h3 Create a new Engagement
    %h4 {{ talk.name }}
    %form.submit-talk-event{action:"/engagement/new/?last={{last}}", method:"POST"}
      - csrf_token

      %label{for:"event-list"} Event:
      %input#event-list{name:"event", placeholder:"Enter the name of the event", type:"text", autocomplete:"off"}
      %span.search.addon
          %i.icon-search

      %input{type:"hidden", name:"talk", value:"{{talk.id}}"}

      %label{for:"date"} Date:
      %input#date{name:"date", type:"text"}

      %label{for:"time"} Time:
      %input#time{name:"time", type:"text"}

      %button.btn.btn-warning{type:"submit"} Submit

%script{type:"text/javascript"}
  $('.submit-talk').colorbox({inline: true, width:"400px"});

  var nowTemp = new Date();
  var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

  $('#date').datepicker({
      format: 'mm/dd/yyyy'
  });

  $('#date').datepicker('update', now);

  $('#date').on('changeDate', function() {
    $('#date').datepicker('hide');
  });

  $('#time').timepicker({
    template: false,
    showInputs: false,
    minuteStep: 5
  });

  var events = []

  - for event in events
    var name = "{{event}}";
    events.push(name);

  $('#event-list').typeahead({
      source: events
  });
