%div{style:"display:none"}
  #add-talk-popup{style:"background-color: white; padding: 40px;"}
    %h2 Add New Talk
    %form{action:"/talk/new", method:"POST"}
      - csrf_token
      %label{for:"talk-name"} Name:
      %input#talk-name{name:"name", type:"text"}

      %label{for:"talk-abstract"} Abstract:
      %textarea#talk-abstract{name:"abstract", style:"height:200px"}

      %button.btn.btn-warning{type:"submit"} Create

%script{type:"text/javascript"}
  $('.add-talk').colorbox({inline: true, width:"400px"});
