%div{style:"display:none"}
  #rate-talk-popup{style:"background-color: white; padding: 40px;"}
    %h2 Rate this talk
    %form{action:"/talk/{{talk.id}}/rate", method:"POST"}
      - csrf_token
      = rating_form.as_p

      %button.btn.btn-warning{type:"submit"} Submit Rating

%script{type:"text/javascript"}
  $('.rate-talk').colorbox({inline: true, width:"800px"});
