%div{style:"display:none"}
  #link-slides-popup{style:"background-color: white; padding: 40px;"}
    %h2 Add Slides Link
    %form{action:"/talk/{{talk.id}}/slides/new", method:"POST"}
      - csrf_token

      %label{for:"slide-source"} Source:
      %select#slide-source{name:"source"}
        %option{value:"SPEAKERDECK"} SpeakerDeck
        %option{value:"SLIDESHARE"} SlideShare

      %label{for:"embed-data"} Embed Code:
      %input#embed-data{name:"embed", type:"text"}

      %button.btn.btn-warning{type:"submit"} Save
