%div{style:"display:none"}
  #upload-photo-popup{style:"background-color: white; padding: 40px;"}
    %h2 Upload Photo

    %form{action:"/talk/{{ talk.id}}/photo/new", method:"POST", enctype:"multipart/form-data"}
      - csrf_token

      %label{for:"talk-photo"} Filename:
      %input#talk-photo{name:"photo", type:"file"}

      %button.btn.btn-warning{type:"submit"} Upload

%script{type:"text/javascript"}
  $('.upload-photo').colorbox({inline: true, width:"400px"});
