.talk-header
  .row.buffer
    .span3
      .picture.well
        - if talk.speaker.photo
          %img{src:"{{MEDIA_URL}}{{ talk.speaker.photo}}"}
        - else
          %i.icon-user.photo-placeholder-large

        .about
          %h4
            %a{href:"{{talk.speaker.get_absolute_url}}"}
              {{ talk.speaker.get_full_name }}

    .span9
      .talk-detail
        %h3 Abstract
        %p {{ talk.abstract }}
