.span9
  .talk_event
    .header
      .title
        %a{href:"{{item.get_absolute_url}}"}
          {{ item.name|truncatechars:40 }}
        %br by {{ item.speaker.get_full_name }}
    .description
      - if item.tags.all
        .tag-cloud.pull-left
          - for tag in item.tags.all
            .label.label-info {{ tag.name }}

      %span {{ item.abstract|truncatechars:240 }}
    .clearfix
