- extends 'base.haml'

- block 'content-container'
  #talk-detail-container

- block 'scripts'
  - include 'handlebars/engagement.haml'
  - include 'handlebars/create_engagement.haml'
  - include 'handlebars/talk_edit.haml'
  - include 'talks/_popup_talk_delete_partial.haml'
  - include 'talks/_popup_talk_slides_new_partial.haml'
  - include 'talks/_popup_talk_video_new_partial.haml'
  - include 'handlebars/comment.haml'

  - include 'handlebars/talk_detail.haml'

  %script{type:"text/javascript"}
    var addthis_config = {"data_track_addressbar":false};

  %script{type:"text/javascript", src:"//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-530d0cef2f66caf3"}
  
  %script{type:"text/javascript"}
    var talkModel = new SpkrBar.Models.Talk({id:"{{talk.id}}"});

    talkModel.fetch({
      success: function(model){
        var talkView = new SpkrBar.Views.TalkDetail({model: model});
        $('#talk-detail-container').html(talkView.render().el);
      }
    });
