- extends 'base.haml'

- block 'subnav-container'

- block 'content'
  .row-fluid
    .section-title
      %h2 Upcoming Engagements

  .row-fluid
    .talk-list
      - for item in upcoming
        - include 'engagements/_engagement_detail_partial.haml'

  .row-fluid
    .section-title
      %h2 Recent Engagements

  .row-fluid
    .talk-list
      - for item in recent
        - include 'engagements/_engagement_detail_partial.haml'
