- extends 'base.haml'

- block 'content-container'
  #talk-list-container

  - include 'handlebars/talk_list.haml'
  - include 'handlebars/engagement_detail.haml'

- block 'scripts'
  %script{type:"text/javascript"}
    var upcoming = new SpkrBar.Collections.Engagements({{upcoming|safe}})
    var recent = new SpkrBar.Collections.Engagements({{upcoming|safe}})

    var talkListView = new SpkrBar.Views.TalkList({
      upcoming: upcoming,
      recent: recent
    });

    $('#talk-list-container').html(talkListView.render().el);
