- extends 'base.haml'

- block 'scripts'
  - include 'talks/handlebars/engagement.haml'
  - include 'talks/handlebars/tags.haml'
  - include 'talks/handlebars/links.haml'
  - include 'talks/handlebars/comments.haml'
  - include 'handlebars/comment.haml'
  - include 'talks/_popup_talk_edit_partial.haml'
  - include 'talks/_popup_talk_delete_partial.haml'
  - include 'talks/_popup_talk_submit_event_partial.haml'
  - include 'talks/_popup_talk_rate_partial.haml'
  - include 'talks/_popup_talk_photo_new_partial.haml'
  - include 'talks/_popup_talk_slides_new_partial.haml'
  - include 'talks/_popup_talk_video_new_partial.haml'

  %script{type:"text/javascript"}
    var talkView = new SpkrBar.Views.TalkDetail("{{talk.id}}");
