- extends 'talks/talk_base.haml'

- block 'subnav-container' 
  .subnav
    .row
      - if will_have_links
        .span10
          %h2
            - if talk.endorsements.count
              {{ talk.endorsements.count }} <i class="icon-thumbs-up"></i>
            {{ talk.name|truncatechars:90 }}
        .span2
          .nav.btn-group.pull-right
            - if not user.is_anonymous
              - if user == talk.speaker.user
                  - if talk.published
                    %a.btn.btn-warning.submit-talk{href:"#submit-talk-popup", data-toggle:"tooltip", data-original-title:"Create Engagement"}
                      %i.icon-bullhorn
                    %a.btn.btn-warning{href:"/talk/{{talk.id}}/archive?last={{last}}", data-toggle:"tooltip", data-original-title:"Hide Talk"}
                      %i.icon-eye-close
                  - else
                    %a.btn.btn-warning{href:"/talk/{{talk.id}}/publish?last={{last}}", data-toggle:"tooltip", data-original-title:"Publish Talk"}
                      %i.icon-eye-open

                  %a.btn.btn-warning.edit-talk{href:"#edit-talk-popup", data-toggle:"tooltip", data-original-title:"Edit Talk"}
                    %i.icon-pencil

                  - if not talk.talkevent_set.all
                    %a.btn.btn-warning.delete-talk{data-name:"{{talk.name}}", data-id:"{{talk.id}}", href:"#delete-talk-popup", data-toggle:"tooltip", data-original-title:"Delete Talk"}
                      %i.icon-trash
              - else
                - if user_events
                  %a.btn.btn-warning.recruit-talk{href:"#recruit-talk-popup", data-toggle:"tooltip", data-original-title:"Recruit this talk."}
                    %i.icon-hand-right
                    Recruit Talk
                - if user_attendance
                  - if not user_endorsed
                    %a.btn.btn-warning{href:"/talk/{{talk.id}}/endorse?last={{last}}"}
                      %i.icon-thumbs-up
                      Endorse
                  - else
                    %a.btn.disabled.btn-warning
                      %i.icon-thumbs-up
                      Endorsed
                  /- if not user_rated
                  /  %a.btn.btn-warning.rate-talk{href:"#rate-talk-popup", data-toggle:"tooltip", data-original-title:"Rate this talk."}
                  /    %i.icon-legal
                  /    Rate
                  /- else
                  /  %a.btn.disabled.btn-warning
                  /    %i.icon-legal
                  /    Rated


      - else
        .span12
          %h2
            - if talk.endorsements.count
              {{ talk.endorsements.count }} <i class="icon-thumbs-up"></i>
            {{ talk.name|truncatechars:90 }}

- block 'content'
  #talk
    - include 'talks/_talk_header_partial.haml'

    .row
      .span3
        .row
          .span3
            #talk-tags

          .span3
            %h3 Attendees ({{attendees|length}})
            - with attendees as collection
              - include '_user_list_partial.haml'

          .span3
            #talk-links

      .span9
        .row
          .span4
            .row
              .span2
                %h3 Slides

              - if talk.speaker.user == user
                .span2
                  %a.btn.btn-warning.link-slides.pull-right{href:"#link-slides-popup"} Add Slides

            .row
              .span4
                %hr

            .row
              - if talk.talkslidedeck_set.all
                - for deck in talk.talkslidedeck_set.all
                  .span4
                    - if deck.source == "SLIDESHARE"
                      <iframe src="{{deck.data}}" width="300" height="{% widthratio 300 1 deck.aspect %}" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
                    - elif deck.source == "SPEAKERDECK"
                      <script async class="speakerdeck-embed" data-id="{{deck.data}}" data-ratio="{{deck.aspect}}" src="//speakerdeck.com/assets/embed.js"></script>
              - else
                .span4
                  No slides available.

          .span4.offset1
            .row
              .span2
                %h3 Videos

              - if talk.speaker.user == user
                .span2
                  %a.btn.btn-warning.link-video.pull-right{href:"#link-video-popup"} Add Videos

            .row
              .span4
                %hr
            
            .row
              - if talk.talkvideo_set.all
                - for video in talk.talkvideo_set.all
                  .span4
                    - if video.source == "YOUTUBE" or video.source == "VIMEO"
                      <iframe width="300" height="{% widthratio 300 1 video.aspect %}" src="{{ video.data }}" frameborder="0" webkitAllowFullScreen, mozallowfullscreen, allowfullscreen></iframe>
              - else
                .span4
                  No videos available.

        .row{style:"margin-top:40px;"}
          .span9
            .row
              .span2
                %h3 Photos

              - if talk.speaker.user == user
                .span7
                  %a.btn.btn-warning.upload-photo.pull-right{href:"#upload-photo-popup"} Upload Photos

            .row
              .span9
                %hr

            .row
              - if photos
                .span9
                  .photos
                    - for photo in photos
                      %img{src:"{{MEDIA_URL}}{{photo.0}}", width:"{{photo.1}}", height:"{{photo.2}}"}
                  .clearfix
                - else
                  .span9
                    No photos available.

        - if upcoming
          .row{style:"margin-top:40px"}
            .span9
              %h3 Speaking Engagements
              %hr

            .span9
              #engagement-list-region

        .row{style:"margin-top:40px"}
          .span9
            .comments
              %h3 Comments
              %hr

              - if not user.is_anonymous and talk.speaker.user != user
                %form.add-comment-form{action:"/talk/{{talk.id}}/comment/new", method:"POST"}
                  - csrf_token
                  %textarea{name:'comment', placeholder:"Add your comment..."}
                  %input.btn.btn-warning{type:"submit", value:"Submit Comment"}

              - if talk.talkcomment_set.all
                %ul
                  - for comment in talk.talkcomment_set.all
                    %li
                      %h4 {{comment.commenter.get_full_name}} said...
                      %p {{comment.comment}}
              - else
                No comments yet.
