.span6
  %li
    .title
      %a{href:"/event/{{event.pk}}"}
        {{ event.talk.name|truncatechars:40 }}

      .location.pull-left
        %a{href:"{{ event.location.get_absolute_url }}"}
          at {{ event.location.name }}</a><br />
        in {{ event.location.city }}, {{ event.location.state }}

      .time.pull-right
        {{ event.date.date }}
        %br {{ event.date.time }}

      .clearfix

    .description
      - if event.talk.photo
        <img class="pull-left" src="{{STATIC_URL}}img/photo/{{event.talk.photo}}">
      - else
        <i class="icon-camera profile-placeholder pull-left"></i>
      %span {{ event.talk.abstract|truncatechars:140 }}
