.row
  .span3
    %h2 Known for
    - if profile.tags.all
      %ul.expert-area
        - for tag in profile.tags.all
          %li.label.label-info {{tag}}
    - else
      No User Tags

  {% include 'profile/_followers_list_partial.haml' %}
