.row
  .span9
    - if endorsed
      %h2 Favorite Talks
      %hr

      .row
        - for item in endorsed
          - include 'talks/_talk_span9_detail_partial.haml'
.row
  .span9
    - if attending
      %h2 Attending
      %hr

      .row
        - for item in attending
          - include 'talkevents/_talk_event_span9_detail_partial.haml'
