- extends 'base.haml'

- block 'title'

- block 'subnav-container' 
  .subnav
    .row
      .span12
        %h2
          Invite your friends and colleagues to SpkrBar

- block 'content'
  .row
    .span12
      %form#import-contacts{method:"POST", action:"/profile/invite/"}
        - csrf_token
        %label{for:"contact_list"} To:
        %textarea#contact_list

        %a.cs_import.btn.btn-warning
          %i.icon-book
          Import Address Book

        .message
          %label{for:"invite_message"} My Message:
          %textarea#invite_message {{invite_message}}

        %button.btn.btn-warning{type:"submit"}
          %i.icon-mail-forward
          Send Invitations



- block 'scripts'
  <script type="text/javascript">
  var csPageOptions = {
    domain_key:"F582XR5DWPXKCDCXCDZW", 
    textarea_id:"contact_list"
  };
  </script>

  <script type="text/javascript" src="https://api.cloudsponge.com/address_books.js"></script>
