- extends 'base.haml'

- block 'title'
  Create a new password.

- block 'subnav'

- block 'content'
  #login
    - if error
      .alert.alert-error {{error}}

    - if validlink
      %form{action:"", method:"POST"}
        - csrf_token
        = form.as_p

        %input.btn.btn-warning{type:"submit", value:"Reset Password"}
    - else
      %h4 The security token to reset this password has expired.
