- extends 'base.haml'

- block 'title'
  Reset your password

- block 'subnav'

- block 'content'
  #login
    - if error
      .alert.alert-error {{error}}

    %h4 Enter your email below and we will send you a link to reset your password.

    %form{action:"/forgot/", method:"POST"}
      - csrf_token
      = form.as_p

      %input.btn.btn-warning{type:"submit", value:"Reset Password"}
