- extends 'base.haml'

- block 'title'
  Welcome to the club.

- block 'subnav'

- block 'content'
  .row
    .span6
      .row
        .span12
          %h3 Join us
          %hr

      .row
        .span12
          - if form.errors
            .alert.alert-error {{form.errors}}

          %form#register{action:"/register/speaker/", method:"POST"}
            - csrf_token
            {{ form.as_p }}

            %br
            %input.btn.btn-warning{type:"submit", value:"Register"}
