- extends 'base.haml'

- block 'subnav-container' 
  .subnav
    .row
      .span12
        %h2
          - block 'title'
            Join the fastest growing conference club in the world.

- block 'content'
  .row{style:"margin-top:40px"}
    .span12
      %h2 What kind of user are you?
  .register-options
    .row
      .span4
        %a{href:"/register/speaker"}
          %i.icon-bullhorn
          Speaker
      .span4
        %a{href:"/register/attendee"}
          %i.icon-group
          Attendee
      .span4
        %a{href:"/register/event"}
          %i.icon-calendar
          Event Planner
