.span3
  .talk_event.talk-event-s3
    .time
      At {{ item.date.time }}
    .date
      On {{ item.date.date }}

    .title
      %a{href:"{{item.talk.get_absolute_url}}"}
        {{ item.talk.speaker.user.get_full_name }}
    .subtitle {{ item.talk.name|truncatechars:240 }}

    .tag-cloud
      - for tag in item.talk.tags.all
        .label.label-info {{ tag.name }}

    {% include 'talkevents/_button_group_partial.haml' %}

    .clearfix
