#talks {
    ul {
        list-style-type: none;
        margin: 0px;

        li {
            position: relative;

            border: 1px solid #eee;
            height: 200px;
            margin-bottom: 20px;
            padding: 10px;

            h4 {
                height: 64px;
                overflow: hidden;
            }

            a {
                position: absolute;
                bottom: 10px;
                right: 10px;
            }

            img {
                margin-right: 10px;
            }

            span div {
                display: inline-block;
                margin-top: 20px;
            }
        }
    }
}




