.talks {
    ul {
        list-style-type: none;
        margin: 0px;

        li {
            border: 1px solid #eee;
            max-height: 348px;
            margin-bottom: 20px;
            padding: 10px;

            img {
                display: block;
                margin: 20px auto 20px auto;
                max-width: 198px;
                min-width: 198px;
            }

            i.icon-camera { 
                display: block;
                width: 120px;
                margin-left: auto;
                margin-right: auto;
                font-size: 6em;
                color: rgb(185, 185, 185);
            }

            span div {
                display: inline-block;
            }
        }
    }
}

#talk {

    .talk-photo {
        margin-top: 20px;

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        i {
            display: block;
            width: 180px;
            margin-left: auto;
            margin-right: auto;
            font-size: 12em;
            color: rgb(185, 185, 185);
        }
    }

    .speakers {
        list-style-type: none;
        margin: 0px;

        .speaker h4 { width: 100%; }

        .speaker i { 
            display: block;
            width: 180px;
            margin-left: auto;
            margin-right: auto;
            font-size: 12em;
            color: rgb(185, 185, 185);
        }
    }

    .add-comment-form {

        textarea {
            width: 680px;
            height: 120px;
        }
    }
}

#new-talk-form {
    height: 300px;
    position: relative;

    label {
        text-align: right;
        line-height: 30px;
    }

    #photo-clear_id {
        width: auto;
    }

    input { width: 608px; }

    textarea { width: 608px; }

    input[type=checkbox] {
        width: 40px;
    }

    input[type=submit] { 
        position: absolute;
        bottom: 0px;
        right: 20px;
        width: 200px; 
    }

    .talk-location {
        margin-top: 40px;
    }

    #id_photo {
        line-height: 0px;
    }

    #id_date {
        width: 300px;
    }

    .form_datetime input {
        width: 180px;
    }
}

.talk-thumb {
    .picture img {
        display: block;
        margin: 0px auto 0px auto;
        max-width: 229px;
        min-width: 229px;
        padding: 0px;
    }
}

.talk-header {
    h2.short {
        width: 540px;
    }
}

