{% extends 'base.html' %}

{% block 'content' %}
    <div id="locations" class="row">
        {% for location in locations %}
        <div class="span6">
            <div class="location">
                <div class="map" id="map{{location.id}}"></div>
                <div class="details">
                    <h3><a href="/location/{{location.id}}">{{ location.name }}</a></h3>

                    {{ location.address }}<br />
                    {{ location.city }}, {{location.state}}, {{location.zip_code}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block 'scripts' %}
<script type="text/javascript">
    L.Icon.Default.imagePath = '{{STATIC_URL}}img/';

    {% for location in locations %}
        (function() {
            // create a map in the "map" div, set the view to a given place and zoom
            var map = L.map('map{{location.id}}').setView([39.95, -82.95], 6);

            // add an OpenStreetMap tile layer
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: ''
                }).addTo(map);

            var url = "http://nominatim.openstreetmap.org/search/{{location.geocode_querystring}}?format=json"
            $.get(url, function(data) {
                if(data.length != 0) {
                    L.marker([data[0].lat, data[0].lon]).addTo(map);
                    map.setView([data[0].lat, data[0].lon], 14);
                }
            });
        }).call(this);
    {% endfor %}
</script>
{% endblock %}
