{% extends 'base.html' %}

{% block 'content' %}
    <div id="location-detail" class="row">

        <div class="span4">
            <p>
                <h3>{{ location.name }}</h3>

                {{ location.address }}<br />
                {{ location.city }}, {{location.state}}, {{location.zip_code}}
            </p>

        </div>

        <div class="span8">
            <p>
                <div id="map"></div>
            </p>
        </div>

        {% if upcoming %}
            <div class="span12">
                <h2>Upcoming talks</h2>
                <hr />

                <div class="row">
                    {% for talk in upcoming %}
                        {% include '_talk_thumb_partial.html' %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if past %}
            <div class="span12">
                <h2>Past talks</h2>
                <hr />

                <div class="row">
                    {% for talk in past %}
                        {% include '_talk_thumb_partial.html' %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block 'scripts' %}
    <script type="text/javascript">
        L.Icon.Default.imagePath = '{{STATIC_URL}}img/';

        // create a map in the "map" div, set the view to a given place and zoom
        var map = L.map('map').setView([39.95, -82.95], 6);

        // add an OpenStreetMap tile layer
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

        var url = "http://nominatim.openstreetmap.org/search/{{city_querystring}}?format=json"
        console.log(url);

        $.get(url, function(data) {
            if(data.length != 0) {
                map.setView([data[0].lat, data[0].lon], 12);
            }
        });

        var url = "http://nominatim.openstreetmap.org/search/{{querystring}}?format=json"
        console.log(url);

        $.get(url, function(data) {
            if(data.length != 0) {
                L.marker([data[0].lat, data[0].lon]).addTo(map).bindPopup('The Location is Here').openPopup();
            }
        });
    </script>
{% endblock %}
