{% verbatim %}
  %script#talk-comments-templ{type:"text/x-handlebars-template"}
    .comments
      %h3 Comments
      %hr

      {{#if can_comment}}
        .tawrap
          %textarea.comment-text{name:'comment', placeholder:"Add your comment..."}
          %button.comment-create.btn.btn-warning Submit Comment
      {{/if}}

      .comment-root
{% endverbatim %}
