{% verbatim %}
  %script#create-engagement-templ{type:"text/x-handlebars-template"}
    .colorbox-content
        %h3 Create a new Engagement

        %hr

        .fieldset-left
            %label{for:"event-list"} Event Name:
            %input#event-list{name:"event", type:"text", autocomplete:"off"}

            %label{for:"room"} Room:
            %input#room{type:"text"}

            %label{for:"date"} Date:
            %input#date{type:"text"}

            %label{for:"time"} Time:
            %input#time{type:"text"}

        .fieldset-right
            .location-search
                %label{for:"loc-name"} Location Name:
                %input#loc-name{type:"text"}
                %span.search.addon
                  %i.icon-search

            %label{for:"loc-address"} Location Address:
            %input#loc-address{type:"text"}

            %label{for:"loc-city"} Location City:
            %input#loc-city{type:"text"}

            %label{for:"loc-state"} Location State:
            %input#loc-state{type:"text"}

            %label{for:"loc-zip"} Location Zip:
            %input#loc-zip{type:"text"}

        .clearfix
        %button#submit-engagement.btn.btn-warning{type:"submit"} Submit
{% endverbatim %}
