{% verbatim %}
  %script#engagement-templ{type:"text/x-handlebars-template"}
    .content-buttons
      %a {{ event_name }}

      %br
      %b {{room}} at {{ time }}

      %p
        {{address}}
        {{city}}, {{state}} {{zip_code}}
{% endverbatim %}
