{% verbatim %}
  %script#engagement-templ{type:"text/x-handlebars-template"}
    .content-buttons
      %a {{ event_name }}

      %br
      %b {{room}} at {{ time }}

      %p
        {{address}}
        {{city}}, {{state}} {{zip_code}}

    {{#if active}}
      .buttons
        .btn-group.btn-group-vertical
          %a.btn.btn-warning.rate{data-id:"{{id}}", data-original-title:"Rate this talk", data-toggle:"tooltip"}
            %i.icon-legal
          {{#if user_owned}}
            .analyze-engagement.btn.btn-warning{data-id:"{{id}}"}
              %i.icon-eye-open
            {{#if active}}
              .start-engagement.btn.btn-success{data-id:"{{id}}"}
                %i.icon-circle
            {{else}}
              .end-engagement.btn.btn-danger{data-id:"{{id}}"}
                %i.icon-circle-blank
            {{/if}}
            .delete-engagement.btn.btn-danger{data-id:"{{id}}"}
              %i.icon-remove
          {{/if}}
    {{/if}}
{% endverbatim %}
