{% verbatim %}
  %script#talk-links-templ{type:"text/x-handlebars-template"}
    %h3 Links
    {{#if links}}
      {{#if user_owned}}
        {{#each links}}
          %p.talk-link{data-id:"{{id}}"}
            %a{href:"{{url}}", target:"_blank"}
              My {{ name }}
            %i.delete-talk-link.icon-remove.pull-right{data-id:"{{id}}"}
        {{/each}}
      {{else}}
        {{#each links}}
          %p.talk-link{data-id:"{{id}}"}
            %a{href:"{{url}}", target:"_blank"}
              My {{ name }}
        {{/each}}
      {{/if}}
    {{/if}}

    {{#if user_owned}}
      .edit-links
        %input#new-talk-link-name{type:"text", placeholder:"Link Name"}
        %input#new-talk-link-url{type:"text", placeholder:"http://"}
        %input.add-talk-link.btn.btn-warning{type:"submit", value:"Add New Link"}
    {{/if}}
{% endverbatim %}
