{% verbatim %}
  %script#talk-tags-templ{type:"text/x-handlebars-template"}
    %h3 Topics
    {{#if tags}}
      %ul.expert-area
        {{#if user_owned}}
          {{#each tags}}
            %li.tag.label.label-info{data-id:"{{id}}"}
              {{tag}}
              %i.delete-talk-tag.icon-remove.pull-right{data-id:"{{id}}"}
          {{/each}}
        {{else}}
          {{#each tags}}
            %li.tag.label.label-info{data-id:"{{id}}"}
              {{tag}}
          {{/each}}
        {{/if}}
    {{/if}}

    {{#if user_owned}}
        %input#new-talk-tag-name{name:"tag", type:"text", placeholder:"My Tag"}
        %input.add-talk-tag.btn.btn-warning{type:"submit", value:"Tag this talk"}
    {{/if}}
{% endverbatim %}
