#profile {
    padding: 20px;

    .picture {

        padding: 10px;

        i {
            display: block;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
            font-size: 18em;
            color: rgb(185, 185, 185);
        }
    }
}

.edit-links, .edit-tags {
    margin-top: 20px;

    input, button {
        display: block;
    }
}

.profile-link, .talk-link {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-bottom: 2px;

    .delete-profile-link, .delete-talk-link {
        font-size: 16px;
        margin-top: 2px;
        margin-right: 5px;

        &:hover {
            color: #bd362f;
        }
    }
}

#edit-profile-popup {
    #about-me{
        height: 155px;
        resize: none;
    }
}