- extends 'base.haml'

- block 'title'
  Recent SpkrBar News

- block 'subnav'

- block 'content'
  #blog
    .row-fluid
      .span9
        -block 'blog_content'

      .span3.blog-history
        %h3 Blog History

        {% regroup history|dictsortreversed:"post.date.year" by year as years %}

        %ul.years
          - for year in years
            %li.title {{year.grouper}}

            {% regroup year.list|dictsortreversed:"post.date.month" by month as months %}

            %ul.months
              - for month in months
                %li.title {{month.grouper}}

                %ul.items
                  - for item in month.list
                    %li
                      %a{href:"{{item.post.get_absolute_url}}"}
                        {{ item.post.name }}
