- if not user.is_anonymous and profile.user == user
  %a.btn.btn-warning.edit-profile{href:"#edit-profile-popup", data-toggle:"tooltip", data-original-title:"Edit Profile"}
    %i.icon-pencil
    Edit
