- extends 'base.haml'

- block 'title'
  {{ profile.user.get_full_name }}

- block 'subnav'
  - include 'profile/attendee/_links_partial.haml'

- block 'content'
  #profile
    - include 'profile/attendee/_header_partial.haml'

    .row
      .span3
        - include 'profile/attendee/_sidebar_partial.haml'
      .span9
        - include 'profile/attendee/_talks_partial.haml'

  %div{style:'display:none'}
    #edit-profile-popup{style:"background-color:white; padding: 40px;"}
      %h2 Edit Your Profile

      %form{action:"/profile/edit", method:"POST"}
        - csrf_token
        %label{for:"name"} Name:
        {{ edit_form.name }}
        %label{for:"about"} About:
        {{ edit_form.about_me }}

        %button.btn.btn-warning{type:"submit"} Save


- block 'scripts'
  %script{type:"text/javascript"}
    $('.edit-profile').colorbox({inline: true, width:"400px"});
    var profileView = new SpkrBar.Views.ProfileDetail();
