.row 
  .span3{style:"margin-top: 40px"}
    %h2 New Talks
    - if unscheduled
      %ul.talk-list
        - for item in unscheduled
          %li
            %a{href:"{{item.get_absolute_url}}"}
              {{ item.name|truncatechars:30 }}
    - else
      No new talks.

.row
  .span3{style:"margin-top: 40px"}
    %h2 Past Talks
    - if past
      %ul.talk-list
        - for item in past
          %li
            %a{href:"{{item.talk.get_absolute_url}}"}
              {{ item.talk.name|truncatechars:30 }}
    - else
      No previous talks.

.row
  .span3{style:"margin-top: 40px"}
    %h2 Attended
    - if attended
      %ul.talk-list
        - for item in attended
          %li
            %a{href:"{{item.talk.get_absolute_url}}"}
              {{ item.talk.name|truncatechars:30 }}
    - else
      No talks attended.
