<div class="row">
    <div class="span9">
        <h2>My Talks</h2>
        <hr />

        <div class="row">
            {% if talks %}
                <div class="talks">
                    <ul>
                        {% for talk in talks %}
                            {% include '_talk_thumb_detail_partial.html' %}
                        {% endfor %}
                    </ul>
                </div>
            {% elif user == speaker.user %}
                <div class="span9">
                    <h4>
                        You don't have any talks. Would you like to 
                        <a class="btn btn-warning" href="/talk/new">add one now?</a>
                    </h4>
                </div>
            {% else %}
                <div class="span9">
                    <h2>This speaker hasn't added any talks.</h2>
                </div>
            {% endif %}
        </div>
    </div>
</div>
