{% if current %}
    <div class="row">
        <div class="span9">
            <h2>Talks Happening Now</h2>

            <div class="row">
                {% for item in current %}
                    {% include '_talk_event_span9_detail_partial.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% if upcoming %}
    <div class="row">
        <div class="span9">
            <h2>Upcoming Speaking Engagements</h2>

            <div class="row">
                {% for item in upcoming %}
                    {% include '_talk_event_span9_detail_partial.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
