<div class="row">
    <div class="span3" style="margin-top: 40px">
        <h2>New Talks</h2>
            {% if unscheduled %}
                <ul class="talk-list">
                    {% for item in unscheduled %}
                        <li><a href="{{item.get_absolute_url}}">{{ item.name|truncatechars:30 }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                No new talks.
            {% endif %}
    </div>
</div>

<div class="row">
    <div class="span3" style="margin-top: 40px">
        <h2>Past Talks</h2>
        {% if past %}
            <ul class="talk-list">
                {% for item in past %}
                    <li><a href="{{item.talk.get_absolute_url}}">{{ item.talk.name|truncatechars:30 }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            No previous talks.
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="span3" style="margin-top: 40px">
        <h2>Attended</h2>
        {% if attended %}
            <ul class="talk-list">
                {% for item in attended %}
                    <li><a href="{{item.talk.get_absolute_url}}">{{ item.talk.name|truncatechars:30 }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            No talks attended.
        {% endif %}
    </div>
</div>
