- if not user.is_anonymous and speaker == user.get_profile
  - if speaker.published
    %a.btn.btn-warning{href:"/profile/archive"}
      %i.icon-eye-close
      Hide
  - else
    %a.btn.btn-warning{href:"/profile/publish"}
      %i.icon-eye-open
      Publish

  %a.btn.btn-warning{href:"/profile/edit"}
    %i.icon-pencil
    Edit

  %a.add-event.btn.btn-warning{href:"/event/new"}
    %i.icon-plus
    Event
