<div class="row">
    <div class="span9">
        <div class="well talk">
            <div class="header">
                <div class="title">
                    <h4><a href="/talk/{{talk.id}}">
                        {{ talk.name|truncatechars:70 }}
                        {% if talk.endorsements.count %}
                            ({{ talk.endorsements.count }} <i class="icon-thumbs-up"></i>)
                        {% endif %}
                    </a></h4>
                    <h5>{{ talk.date }}</h5>
                </div>
                <div class="buttons">
                    {% include '_talk_edit_links_partial.html' %}
                </div>
                <hr />
            </div>

            <div class="picture">
                {% if talk.photo %}
                <img class="pull-left" src="{{STATIC_URL}}img/photo/{{talk.photo}}">
                {% else %}
                <i class="icon-camera profile-placeholder"></i>
                {% endif %}
            </div>

            <div class="description">
                <p>{{ talk.abstract }}</h3>
            </div>
        </div>
    </div>
</div>
