<div class="navbar pull-right" style="margin-top:10px">
    <div class="btn-group">
        {% if user.get_profile in talk.speakers.all %}
            {% if talk.published %}
                <a class="btn btn-warning" href="/talk/{{talk.id}}/archive?last={{last}}">
                    <i class="icon-ban-circle"></i> Archive
                </a>
            {% else %}
                <a class="btn btn-warning" href="/talk/{{talk.id}}/publish?last={{last}}">
                    <i class="icon-ok"></i> Publish
                </a>
            {% endif %}
            <a class="btn btn-warning" href="/talk/{{talk.id}}/edit">
                <i class="icon-pencil"></i> Edit
            </a>
            <a class="btn btn-warning delete-talk" data-name="{{talk.name}}" data-id="{{talk.id}}" href="#delete-talk-popup">
                <i class="icon-trash"></i> Delete
            </a>
        {% elif not user.is_anonymous %}
            {% if user.get_profile in talk.attendees.all and user.get_profile not in talk.endorsements.all %}
                <a class="btn btn-warning" href="/talk/{{talk.id}}/endorse?last={{last}}">
                    <i class="icon-thumbs-up"></i> Endorse
                </a>
            {% endif %}
            {% if user.get_profile not in talk.attendees.all %}
                <a class="btn btn-warning" href="/talk/{{talk.id}}/attend?last={{last}}">
                    <i class="icon-calendar"></i> Attend
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>
