<div class="span6">
    <li>
        <div class="title">
            <div>
                <a href="{{item.talk.get_absolute_url}}">{{ item.talk.name|truncatechars:40 }}</a><br />
                by {{ item.talk.speaker.user.get_full_name }}
            </div>

            <div class="pull-left">
                <div class="location">
                    <a href="{{ item.event.get_absolute_url }}">at {{ item.event.name }}</a><br />
                    in {{ item.event.location.city }}, {{ item.event.location.state }}
                </div>
            </div>

            <div class="pull-right">
                <div class="time pull-right">
                    {{ item.date.date }}<br />
                    {{ item.date.time }}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="description">
            {% if item.talk.speaker.photo %}
                <img class="pull-left" src="{{STATIC_URL}}img/photo/{{talk.speaker.photo}}">
            {% else %}
                <i class="icon-user photo-placeholder pull-left"></i>
            {% endif %}
            <span>{{ item.talk.abstract|truncatechars:140 }}</span>
        </div>
    </li>
</div>
