<div class="row">
    <div class="span9">
        <div class="well talk">
            <div class="header">
                <div class="title">
                    <h4><a href="/talk/{{talk.id}}">{{ talk.name|truncatechars:70 }}</a></h4>
                    <h5>{{ talk.date }}</h5>
                </div>
                <div class="buttons">
                    {% if user.get_profile in talk.speakers.all %}
                        <div class="btn-group">
                            <a class="btn btn-warning" href="/talk/{{talk.id}}/edit">Edit</a>
                            <a class="btn btn-warning delete-talk" data-name="{{talk.name}}" data-id="{{talk.id}}" href="#delete-talk-popup">Delete</a>
                        </div>
                    {% endif %}
                </div>
                <hr />
            </div>

            <div class="picture">
                {% if talk.photo %}
                <img class="pull-left" src="{{STATIC_URL}}img/photo/{{talk.photo}}">
                {% else %}
                <i class="icon-camera profile-placeholder pull-left"></i>
                {% endif %}
            </div>

            <div class="description">
                <p>{{ talk.abstract }}</h3>
            </div>
        </div>
    </div>
</div>
