.span3
  .event-thumb
    .title
      %a{href:"/talk/{{talk_event.talk.pk}}"}
        {{ talk_event.talk.name|truncatechars:30 }}

    .photo
      - if talk_event.talk.photo
        %img{src:"{{STATIC_URL}}img/photo/{{talk_event.talk.photo}}"}
      - else
        %i.icon-camera.profile-placeholder

    - with talk_event.event.location as location
      .location
        %a{href:"{{ location.get_absolute_url }}"}
          at {{ location.name }}
        %br in {{ location.city }}, {{ location.state }}

    %div
      .time
        {{ talk_event.event.date.date }}
        %br {{ talk_event.event.date.time }}
