- load compress
!!! 5

%html{lang:"en"}
  %head
    %meta{charset:"utf-8"}
    %title Speaker Bar - A site for speakers
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %meta{name:"description", content:""}
    %meta{name:"author", content:""}

    {% compress css %}
      %link{href:"{{STATIC_URL}}css/bootstrap.css", rel:"stylesheet"}
      %link{href:"{{STATIC_URL}}css/datetimepicker.css", rel:"stylesheet"}
      %link{href:"{{STATIC_URL}}css/font-awesome.min.css", rel:"stylesheet"}
      %link{href:"{{STATIC_URL}}css/colorbox.css", rel:"stylesheet"}
      %link{href:"{{STATIC_URL}}css/leaflet.css", rel:"stylesheet"}

      %link{href:"{{STATIC_URL}}less/core.less", rel:"stylesheet", type:"text/less"}
      %link{href:"{{STATIC_URL}}less/profile.less", rel:"stylesheet", type:"text/less"}
      %link{href:"{{STATIC_URL}}less/speakers.less", rel:"stylesheet", type:"text/less"}
      %link{href:"{{STATIC_URL}}less/talks.less", rel:"stylesheet", type:"text/less"}
      %link{href:"{{STATIC_URL}}less/events.less", rel:"stylesheet", type:"text/less"}
      %link{href:"{{STATIC_URL}}less/blog.less", rel:"stylesheet", type:"text/less"}

      - block 'css'
    {% endcompress %}

    {% compress js %}
      %script{src:"{{STATIC_URL}}js/jquery-1.9.1.min.js"}
      %script{src:"{{STATIC_URL}}js/leaflet.js"}
      %script{src:"{{STATIC_URL}}js/bootstrap-tooltip.js"}
      %script{src:"{{STATIC_URL}}js/bootstrap-typeahead.js"}
    {% endcompress %}

    - block 'head'

    %link{rel:"apple-touch-icon-precomposed", sizes:"144x144", href:"../assets/ico/apple-touch-icon-144-precomposed.png"}
    %link{rel:"apple-touch-icon-precomposed", sizes:"114x114", href:"../assets/ico/apple-touch-icon-114-precomposed.png"}
    %link{rel:"apple-touch-icon-precomposed", sizes:"72x72", href:"../assets/ico/apple-touch-icon-72-precomposed.png"}
    %link{rel:"apple-touch-icon-precomposed", href:"../assets/ico/apple-touch-icon-57-precomposed.png"}
    %link{rel:"shortcut icon", href:"../assets/ico/favicon.png"}

  %body
    .container-narrow
      .masthead
        %ul.nav.nav-pills.pull-right{style:"margin-top:40px"}
          %li
            %a{href:"/talks"} Talks
          %li
            %a{href:"/speakers"} Speakers
          %li
            %a{href:"/events"} Events

          - if not user.is_anonymous
            %li
              %a{href:"/speaker/{{ user.username }}"} My Profile
            %li
              %a.add-talk{href:"#add-talk-popup"} Add Talk

          %li
            %a{href:"/blog"} Blog

          - if user.is_superuser
            %li
              %a{href:"/admin"} Admin

          - if user.is_anonymous
            %li
              %a{href:"/login"}
                %i.icon-signin
                Login
            %li
              %a{href:"/register"} Register
          - else
            %li
              %a{href:"/logout"}
                %i.icon-signout
                Logout

        %a{href:"/"}
          %img{src:"{{STATIC_URL}}img/logo.png"}

      - block 'callout'

      .content-container
        - block 'content'

      .clearfix

      .footer
        %p &copy; Agile Hog LLC. 2013

  {% compress js %}
    %script{src:"{{STATIC_URL}}js/bootstrap-dropdown.js"}
    %script{src:"{{STATIC_URL}}js/bootstrap-datetimepicker.min.js"}
    %script{src:"{{STATIC_URL}}js/jquery.colorbox-min.js"}
    %script{src:"{{STATIC_URL}}js/django-csrf.js"}
  {% endcompress %}

  - block 'scripts'

  - include '_popup_talk_new_partial.haml'
