{% extends 'talk_base.html' %}

{% block 'callout' %}
    {% if user.is_anonymous %}
        <div class="jumbotron callout">
            <h2 class="btn-warning">Conferences are social again</h2>
            <a class="btn btn-large btn-warning" href="/register/">Register Now.</a>
        </div>
    {% else %}
        <div class="jumbotron callout">
            <h2 class="btn-warning">Conferences are social again</h2>
            <a class="add-talk btn btn-large btn-warning" href="#add-talk-popup">Add your talk.</a>
        </div>
    {% endif %}
{% endblock %}


{% block 'content' %}
    {% for group in talk_groups %}
        {% if group.1 %}
            <div class="row">
                <div class="span12">
                    <h2>{{group.0}}</h2>
                </div>
            </div>

            <div class="row" style="margin-bottom:40px">
                {% for item in group.1 %}
                    {% include '_talk_event_span6_detail_partial.html' %}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
