{% extends 'base.html' %}

{% block 'content' %}
    <div class="row">
        <div class="span3" style="height:300px">
            <div class="well profile-picture">
                <i class="icon-user profile-placeholder"></i>
            </div>
        </div>

        <div class="span6" style="height:280px">
            <h2>{{ user.get_full_name }}</h2>
            <hr />
            Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby.
        </div>

        <div class="span3" style="height:280px">
            <h2>Links</h2>
            <hr />
            <p>
                Blog: <a href="http://www.codearchaeologist.org">Code Archaeologist</a>
            </p>
            <p>
                Github: <a href="http://www.github.com/kitanata">Kitanata</a>
            </p>
            <p>
                Linked In: <a href="#">My Linked In Profile</a>
            </p>
            <p>
                Facebook: <a href="#">My Facebook Profile</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="span3">
            <div class="row">
                <div class="span3" style="height:290px">
                    <h2>Known for</h2>
                    <hr />
                    <ul class="profile-expert">
                        <li>Game Design</li>
                        <li>Gamification</li>
                        <li>Web Development</li>
                        <li>Visualization</li>
                    </ul>

                    <div style="margin-top: 20px">
                        <i class="icon-star icon-3x", style="color:gold"></i>
                        <i class="icon-star icon-3x", style="color:gold"></i>
                        <i class="icon-star icon-3x", style="color:gold"></i>
                        <i class="icon-star icon-3x", style="color:gold"></i>
                        <i class="icon-star icon-3x", style="color:gray"></i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span3" style="height:550px; margin-top: 20px">
                    <h2>Past Talks</h2>
                    <hr />
                    <ul class="profile-expert">
                        <li>Talk 1</li>
                        <li>Talk 2</li>
                        <li>Talk 3</li>
                        <li>Talk 4</li>
                        <li>Talk 5</li>
                        <li>Talk 6</li>
                        <li>Talk 7</li>
                        <li>Talk 8</li>
                        <li>Talk 9</li>
                        <li>Talk 10</li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <div class="span9">
                <h2>Upcoming Talks</h2>
                <hr />
                <div class="row">
                    {% for talk in talks %}
                        <div class="span9" style="height:200px; margin-bottom:20px">
                            <div class="well">
                                <h4>
                                    <div class="pull-left">
                                        {{ talk.name|truncatewords:5 }}
                                    </div>
                                    <div class="pull-right">
                                        {{ talk.date }}
                                    </div>
                                </h4>
                                <div style="clear:both"></div>
                                <hr />
                                <p>{{ talk.description }}</h3>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
