{% extends 'base.html' %}

{% block 'content' %}
    {% if form.errors %}
        <div class="alert alert-error">
            {{profile_form.errors}}
        </div>
        {% endif %}

    <div id="profile">
        <div class="row">
            <div class="span6">
                <h2>Your Profile Photo</h2>
                <hr />

                <div class="row">
                    <div class="span6">
                        <div class="well picture">
                            {% if speaker.photo %}
                                <img src="{{STATIC_URL}}img/photo/{{ speaker.photo}}"></img>
                            {% else %}
                                <i class="icon-user"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <form class="profile-photo-form" action="/profile/edit/photo/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        <div class="span6">
                            <label for="photo_id">New Photo:</label>
                            {{ photo_form.photo }}
                        </div>

                        <div class="span6">
                            <input class="btn btn-warning" type="submit" value="Upload Photo"></input>
                        </div>
                    </div>
                </form>
            </div>

            <div class="span6">
                <h2>Your Details</h2>
                <hr />

                <form class="profile-form" action="/profile/edit/" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="span6">
                            <div class="row">
                                <div class="span1">
                                    <label for="name">Name:</label>
                                </div>
                                <div class="span5">
                                    {{ profile_form.name }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="span1">
                                    <label for="about">About:</label>
                                </div>
                                <div class="span5">
                                    {{ profile_form.about_me }}
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            <input class="btn btn-warning" type="submit" value="Save Profile"></input>
                        </div>
                    </div>
                </form>

            </div>
        </div>


        <div class="row">
            <div class="span6">
                <h2>Links</h2>
                <hr />

                <div class="row">
                    <div class="edit-links">
                        <div class="span3">
                            <form class="profile-link-form" action="/profile/edit/link/new/" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                <label for="id_type">Link Type:</label>
                                {{ link_form.type }}

                                <label for="id_name">Name:</label>
                                {{ link_form.name }}

                                <label for="id_url">Url:</label>
                                {{ link_form.url }}

                                <div>
                                    <input class="btn btn-warning" type="submit" value="Add New Link"></input>
                                </div>
                            </form>
                        </div>

                        <div class="span3">
                            <div class="link-list">
                                {% for link in speaker.userlink_set.all %}
                                    <p>
                                        {{ link.type_name|title }}: <a href="{{link.url_target}}">{{ link.link_name }}</a>
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="span6">
                <h2>What are you known for?</h2>
                <hr />

                {% for tag in speaker.tags.all %}
                    <div class="label label-info">{{tag|title}}</div>
                {% endfor %}

                <form action="/profile/edit/tag/new/" method="POST" class="profile-tag-form">
                    {% csrf_token %}
                    {{ tag_form.name }}

                    <div></div>
                    <input class="btn btn-warning" type="submit" value="Add New Tag" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
