- extends 'base.haml'

- block 'content'
  - if profile_form.errors
    .alert.alert-error {{profile_form.errors}}

  #profile
    .row
      .span3
        .row
          .span3
            .well.picture
              - if speaker.photo
                %img{src:"{{STATIC_URL}}{{ speaker.photo}}"}
              - else
                %i.icon-user

        %form.profile-photo-form{action:"/profile/edit/photo/", method:"POST", enctype:"multipart/form-data"}
          {% csrf_token %}

          .row
            .span3
              %label{for:"photo_id"} New Photo:
              {{ photo_form.photo }}

            .span3
              %input.btn.btn-warning{type:"submit", value:"Upload Photo"}

      .span9
        %h2 About You
        %hr

        %form.profile-form{action:"/profile/edit/", method:"POST"}
          {% csrf_token %}
          .row
            .span9
              .row
                .span1
                  %label{for:"name"} Name:
                .span7
                  {{ profile_form.name }}
              .row
                .span1
                  %label{for:"about"} About:
                .span7
                  {{ profile_form.about_me }}

          .row
            .span9
              %input.btn.btn-warning{type:"submit", value:"Save Profile"}

    .row
      .span3
        %h2 Known For?
        %hr

        .row
          .span3
            %ul.expert-area
              - for tag in speaker.tags.all
                %li.label.label-info {{tag|title}}

        .row
          .edit-tags
            .span3
              %form.profile-tag-form{action:"/profile/edit/tag/new/", method:"POST"}
                - csrf_token
                {{ tag_form.name }}

                %input.btn.btn-warning{type:"submit", value:"Add New Tag"}

    .row
      .span3
        %h2 Links
        %hr

        .row
          .span3
            .link-list
              - for link in speaker.userlink_set.all
                %p 
                  %a{href:"{{link.url_target}}"}
                    My {{ link.type_name|title }} Account

        .row
          .edit-links
            .span3
              %form.profile-link-form{action:"/profile/edit/link/new/", method:"POST", enctype:"multipart/form-data"}
                - csrf_token
                %label{for:"id_type"} Link Type:
                {{ link_form.type }}

                %label{for:"id_url"} Url:
                {{ link_form.url }}

                %input.btn.btn-warning{type:"submit", value:"Add New Link"}
