{% extends 'base.html' %}

{% block 'content' %}
    {% if form.errors %}
        <div class="alert alert-error">
            {{form.errors}}
        </div>
    {% endif %}

    <form class="profile-form" action="/profile/edit/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="span3" style="height:300px">
                <div class="well profile-picture">
                    {% if speaker.photo %}
                    <img src="{{STATIC_URL}}img/photo/{{ speaker.photo}}"></img>
                    {% else %}
                        <i class="icon-user profile-placeholder"></i>
                    {% endif %}
                </div>
            </div>

            <div class="span9" style="height:280px">
                <label for="name">Name:</label>
                <div class="profile-name-input pull-right">
                    {{ form.name }}
                </div>
                <hr />

                <label for="about">About Me:</label>
                <div class="profile-about-me-input pull-right">
                    {{ form.about_me }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <h2>Upload Profile Photo</h2>
                <div class="profile-upload-file">
                    {{ form.photo }}
                </div>
            </div>

            <div class="span12">
                <h2>Links</h2>
                <hr />
                {% for link in speaker.user_links %}
                    <p>
                        {{ link.type_name }}: <a href="{{link.url_target}}">{{ link.link_name }}</a>
                    </p>
                {% endfor %}
            </div>
        </div>

        <input class="btn" type="submit" value="Save Profile"></input>
    </form>
{% endblock %}
