{% extends 'base.html' %}

{% block 'content' %}
    {% if error %}
        <div class="alert alert-error">
            {{error}}
        </div>
    {% endif %}

    <h2>Signup for a new account.</h2>

    <div class="row">
        <div class="span4">
            <form action="/register/" method="POST">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input id="username", name="username", type="text">
                <label for="email">Email:</label>
                <input id="email", name="email", type="email">
                <label for="password">Password:</label>
                <input id="password", name="password", type="password">
                <label for="confirm">Confirm Password:</label>
                <input id="confirm", name="confirm", type="password">
                <br />
                <input class="btn btn-warning" type="submit" value="Register" />
            </form>
        </div>

        <div class="span8">
            <img class="login-picture" src="{{STATIC_URL}}img/podium.jpg"></img>
        </div>
    </div>
{% endblock %}
