{% extends 'base.html' %}

{% block 'content' %}
    <div id="speakers" class="row">
        {% for speaker in object_list %}
        <div class="span6">
            <div class="well speaker">
                <div class="picture">
                    {% if speaker.photo %}
                        <img class="pull-left" src="{{STATIC_URL}}img/photo/{{ speaker.photo}}"></img>
                    {% else %}
                        <i class="pull-left icon-user profile-placeholder"></i>
                    {% endif %}
                </div>

                <div class="description">
                    <h4><a href="/speaker/{{speaker.user.username}}">{{ speaker.user.get_full_name }}</a></h4>

                    {% if speaker.tags.all %}
                        Expert In:
                        {% for tag in speaker.tags.all|slice:":5" %}
                            <div class="label label-info">{{tag|title}}</div>
                        {% endfor %}
                    {% endif %}

                    <div class="about">
                        {{ speaker.about_me|truncatechars:140 }}
                    </div>
                </div>

                {% if not user.is_anonymous and user.get_profile != speaker %}
                    <div class="follow">
                        {% if speaker not in user.get_profile.following.all %}
                            <a class="btn btn-warning" href="/speaker/{{speaker.user.username}}/follow?last=/speakers">Follow</a>
                        {% else %}
                            <div class="label label-warning">Following</div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
