{% extends 'base.html' %}

{% block 'content' %}
    <div id="profile">
        <div class="row">
            <div class="span3">
                <div class="well picture">
                    {% if speaker.photo %}
                        <img src="{{STATIC_URL}}img/photo/{{ speaker.photo}}"></img>
                    {% else %}
                        <i class="icon-user"></i>
                    {% endif %}
                </div>
            </div>

            <div class="span9">
                <div class="row">
                    <div class="span5">
                        <h2>{{ speaker.user.get_full_name }}</h2>
                    </div>
                    <div class="span3">
                        <div style="margin-top: 10px">
                            <i class="icon-star icon-3x", style="color:gold"></i>
                            <i class="icon-star icon-3x", style="color:gold"></i>
                            <i class="icon-star icon-3x", style="color:gold"></i>
                            <i class="icon-star icon-3x", style="color:gold"></i>
                            <i class="icon-star icon-3x", style="color:gray"></i>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="span9">
                        {{ speaker.about_me }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span3">
                <div class="row">
                    <div class="span3">
                    </div>
                </div>

                <div class="row">
                    <div class="span3" style="margin-top:40px">
                        <h2>Known for</h2>
                        <ul class="expert-area">
                            {% for tag in speaker.tags.all %}
                            <li class="label label-info">{{tag}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="span3" style="margin-top:40px">
                        <h2>Links</h2>
                        {% for link in speaker.userlink_set.all %}
                            <p>
                                {{ link.type_name|title }}: <a href="{{link.url_target}}">{{ link.link_name }}</a>
                            </p>
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="span3" style="margin-top: 40px">
                        <h2>Past Talks</h2>
                        <ul class="past-talks">
                            {% for talk in past %}
                                <h3>{{ talk.date }}</h3>
                                {% for talk in talk.talks %}
                                    <li><a href="/talk/{{talk.id}}">{{ talk.name|truncatechars:30 }}</a></li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="span9">
                <h2>Upcoming Talks</h2>
                <hr />

                <div class="row">
                    {% for talks in upcoming %}
                        <div class="span9" style="margin-bottom:10px">
                            <h3>{{ talks.date }}</h3>

                            <div class="row">
                                {% for talk in talks.talks %}
                                    <div class="span9">
                                        <div class="well">
                                            <h4><a href="/talk/{{talk.id}}">{{ talk.name|truncatechars:70 }}</a></h4>
                                            <h5>{{ talk.date }}</h5>
                                            <div style="clear:both"></div>
                                            <hr />
                                            <p>{{ talk.abstract }}</h3>

                                            {% if speaker in talk.speakers.all %}
                                            <div class="btn-group">
                                                <a class="btn btn-warning" href="/talk/{{talk.id}}/edit">Edit</a>
                                                <a class="btn btn-warning delete-talk" data-name="{{talk.name}}" data-id="{{talk.id}}" href="#delete-talk-popup">Delete</a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- This contains the hidden content for inline calls -->
    <div style='display:none'>
        <div id="delete-talk-popup" style="background-color:white; padding: 40px;">
            <h2 class="delete-talk-name"></h2>
            <div style="font-size: 18px;">
                <p>Are you sure you want to delete this talk?</p>
                <p><b>This operation cannot be undone.</b></p>
            </div>

            <a class="delete-confirm-link btn btn-danger" href="#" style="margin-top: 20px;">Yes. Delete this talk<a>
        </div>
    </div>
{% endblock %}

{% block 'scripts' %}
<script type="text/javascript">
    $('.delete-talk').colorbox({inline: true, width:"300px"});

    $('.delete-talk').click(function(el){
        var sel = $(el.currentTarget)

        $('.delete-talk-name').text(sel.data('name'))
        $('.delete-confirm-link').attr('href', "/talk/" + sel.data('id') + "/delete/")
    });
</script>
{% endblock %}
