{% extends 'base.html' %}

{% block 'content' %}
    <div id="speakers" class="row">
        {% for speaker in object_list %}
        <div class="span6">
            <div class="well">
                <div class="row">
                    <div class="span2">
                        {% if speaker.photo %}
                            <img class="pull-left" src="{{STATIC_URL}}img/photo/{{ speaker.photo}}"></img>
                        {% else %}
                            <i class="pull-left icon-user profile-placeholder"></i>
                        {% endif %}
                    </div>

                    <div class="span3">
                        <h4><a href="/speaker/{{speaker.user.username}}">{{ speaker.user.get_full_name }}</a></h4>

                        {% if speaker.tags.all %}
                            Expert In:
                            {% for tag in speaker.tags.all|slice:":5" %}
                                <div class="label label-info">{{tag|title}}</div>
                            {% endfor %}
                        {% endif %}

                        <div class="about">
                            {{ speaker.about_me|truncatechars:140 }}
                        </div>

                        <div class="follow">
                            <a href="/follow/{{speaker.pk}}">Follow This Speaker</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
