{% extends 'base.html' %}

{% block 'content' %}
    <div id="profile">
        <div class="row">
            <div class="span3">
                <div class="well picture">
                    {% if speaker.photo %}
                        <img src="{{STATIC_URL}}img/photo/{{ speaker.photo}}"></img>
                    {% else %}
                        <i class="icon-user"></i>
                    {% endif %}
                </div>
            </div>

            <div class="span9">
                <div class="row">
                    <div class="span6">
                        <h2>{{ speaker.user.get_full_name }}</h2>
                    </div>
                    <div class="span3">
                        <div class="edit-buttons btn-group">
                            {% if speaker == user.get_profile %}
                                <a class="btn btn-warning" href="/profile/edit">Edit Profile</a>
                                <a class="btn btn-warning" href="/talk/new">Add Talk</a>
                            {% elif speaker not in user.get_profile.following.all %}
                                <a class="btn btn-warning" href="/speaker/{{speaker.user.username}}/follow?last=/speaker/{{speaker.user.username}}">Follow Me</a>
                            {% else %}
                                <div class="label label-warning">Following</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="span9">
                        {{ speaker.about_me }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span3">

                {% if speaker.tags.all %}
                    <div class="row">
                        <div class="span3">
                            <h2>Known for</h2>
                            <ul class="expert-area">
                                {% for tag in speaker.tags.all %}
                                <li class="label label-info">{{tag}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                {% if speaker.userlink_set.all %}
                    <div class="row">
                        <div class="span3" style="margin-top:40px">
                            <h2>Links</h2>
                            {% for link in speaker.userlink_set.all %}
                                <p>
                                    <a href="{{link.url_target}}" target="_blank">My {{ link.type_name|title }} Account</a>
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if speaker.followers.all %}
                <div class="row">
                    <div class="span3" style="margin-top:40px">
                        <h2>Followers</h2>
                        {% for profile in speaker.followers.all %}
                            <p>
                                <a href="/speaker/{{profile.user.username}}">
                                    {{ profile.user.get_full_name }}
                                </a>
                            </p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% if speaker.following.all %}
                <div class="row">
                    <div class="span3" style="margin-top:40px">
                        <h2>Following</h2>
                        {% for profile in speaker.following.all %}
                            <p>
                                <a href="/speaker/{{profile.user.username}}">
                                    {{ profile.user.get_full_name }}
                                </a>
                            </p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% if attended %}
                <div class="row">
                    <div class="span3" style="margin-top: 40px">
                        <h2>Attended</h2>
                        <ul class="past-talks">
                            {% for talk in attended %}
                                <h3>{{ talk.date }}</h3>
                                {% for talk in talk.talks %}
                                    <li><a href="/talk/{{talk.id}}">{{ talk.name|truncatechars:30 }}</a></li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

                {% if past %}
                    <div class="row">
                        <div class="span3" style="margin-top: 40px">
                            <h2>Past Talks</h2>
                            <ul class="past-talks">
                                {% for talk in past %}
                                    <h3>{{ talk.date }}</h3>
                                    {% for talk in talk.talks %}
                                        <li><a href="/talk/{{talk.id}}">{{ talk.name|truncatechars:30 }}</a></li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

            </div>

            <div class="span9">
                {% if attending %}
                    <h2>Attending</h2>
                    <hr />

                    <div class="row">
                        {% for talk in attending %}
                            {% include '_talk_thumb_partial.html' %}
                        {% endfor %}
                    </div>

                {% endif %}
            </div>

            <div class="span9" style="margin-top:40px;">
                {% if upcoming %}
                    <h2>Upcoming Talks</h2>
                    <hr />

                    <div class="row">
                        {% for talks in upcoming %}
                            <div class="span9" style="margin-bottom:10px">
                                <h3>{{ talks.date }}</h3>

                                {% for talk in talks.talks %}
                                    {% include '_talk_partial.html' %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% elif speaker == user.get_profile %}
                    <h4>
                        You don't have any upcoming talks. Would you like to 
                        <a class="btn btn-warning" href="/talk/new">add one now?</a>
                    </h4>
                {% else %}
                    <h2>No upcoming talks.</h2>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- This contains the hidden content for inline calls -->
    <div style='display:none'>
        <div id="delete-talk-popup" style="background-color:white; padding: 40px;">
            <h2 class="delete-talk-name"></h2>
            <div style="font-size: 18px;">
                <p>Are you sure you want to delete this talk?</p>
                <p><b>This operation cannot be undone.</b></p>
            </div>

            <a class="delete-confirm-link btn btn-danger" href="#" style="margin-top: 20px;">Yes. Delete this talk<a>
        </div>
    </div>
{% endblock %}

{% block 'scripts' %}
<script type="text/javascript">
    $('.delete-talk').colorbox({inline: true, width:"300px"});

    $('.delete-talk').click(function(el){
        var sel = $(el.currentTarget)

        $('.delete-talk-name').text(sel.data('name'))
        $('.delete-confirm-link').attr('href', "/talk/" + sel.data('id') + "/delete/")
    });
</script>
{% endblock %}
