{% extends 'base.html' %}

{% block 'navigation' %}
    <li class="active"><a href="/">Home</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Register</a></li>
    <li><a href="/admin">Admin</a></li>
{% endblock %}

{% block 'content' %}
    <div class="jumbotron">
        <h2>Check out these awesome talks in your area...</h2>
        <a class="btn btn-large btn-success" href="/talk/new">...or add your own.</a>
    </div>

    <hr>

    <ul>
        {% for talk in object_list %}
            <li>{{ talk.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
