{% extends 'base.html' %}

{% block 'content' %}
    <div id="profile">
        {% include '_profile_header_partial.html' %}

        <div class="row">
            <div class="span3">
                {% include '_profile_sidebar_partial.html' %}
            </div>

            <div class="span9">
                <div class="row">
                    {% include '_profile_talks_attending_partial.html' %}

                    {% if not talks %}
                        <div class="span9">
                            <h4>
                                You don't have any talks. Would you like to 
                                <a class="btn btn-warning" href="/talk/new">add one now?</a>
                            </h4>
                        </div>
                    {% endif %}

                    <div class="span9" style="margin-top: 40px;">
                        {% if talks %}
                            {% include '_profile_my_talks_partial.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- This contains the hidden content for inline calls -->
    <div style='display:none'>
        <div id="delete-talk-popup" style="background-color:white; padding: 40px;">
            <h2 class="delete-talk-name"></h2>
            <div style="font-size: 18px;">
                <p>Are you sure you want to delete this talk?</p>
                <p><b>This operation cannot be undone.</b></p>
            </div>

            <a class="delete-confirm-link btn btn-danger" href="#" style="margin-top: 20px;">Yes. Delete this talk<a>
        </div>
    </div>
{% endblock %}

{% block 'scripts' %}
<script type="text/javascript">
    $('.delete-talk').colorbox({inline: true, width:"300px"});

    $('.delete-talk').click(function(el){
        var sel = $(el.currentTarget)

        $('.delete-talk-name').text(sel.data('name'))
        $('.delete-confirm-link').attr('href', "/talk/" + sel.data('id') + "/delete/")
    });
</script>
{% endblock %}
