- if current
  .row
    .span9
      %h2 Talks Happening Now

      .row
        - for item in current
          - include 'talkevents/_talk_event_span9_detail_partial.haml'

- if upcoming
  .row
    .span9
      %h2 Upcoming Speaking Engagements

      .row
        - for item in upcoming
          - include 'talkevents/_talk_event_span9_detail_partial.haml'

.row
  .span9
    - if events
      - for event in events
        .section-title
          %h2
            %a{href:"{{event.get_absolute_url}}"}
              {{ event }}

        .buffer
        .row
          - for item in event.talkevent_set.all
            - include 'talkevents/_talk_event_span3_detail_partial.haml'
    - else
      No events.
