{% extends 'mobile/base.html' %}

{% block 'content' %}
    <ul data-role="listview" data-inset="true">
        {% for group in event_groups %}
            <li data-role="list-divider" data-theme="a">{{ group.date }}</li>

            {% for event in group.events %}
            <li>
                <a href="/mobile/event/{{event.pk}}">
                    {% if event.talk.photo %}
                        <img src="{{STATIC_URL}}img/photo/{{event.talk.photo}}">
                    {% else %}
                        <i class="icon-camera profile-placeholder"></i>
                    {% endif %}

                    <h2>{{ event.talk.name|truncatechars:40 }}</h2>

                    <p>at <strong>{{ event.location.name }}</strong> in {{ event.location.city }}, {{ event.location.state }}</p>
                    <p><strong>{{ event.date.date }} {{ event.date.time }}</strong></p>

                </a>
            </li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}
