{% extends 'mobile/base.html' %}

{% block 'content' %}
    {% if error %}
        <div class="alert alert-error">
            {{error}}
        </div>
    {% endif %}

    <form action="/mobile/login/", method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input id="username", name="username" type="text" />
        <label for="password">Password:</label>
        <input id="password", name="password" type="password" />
        <br />
        <input class="btn btn-warning" type="submit" value="Login">
    </form>
{% endblock %}
