.talk-header
  .row
    .span3
      .well.talk-photo
        - if event.talk.photo
          %img{src:"{{STATIC_URL}}img/photo/{{ event.talk.photo}}"}
        - else
          %i.icon-camera.profile-placeholder
    .span9
      - if will_have_links
        - include '_event_edit_links_partial.haml'

        %h2.short.date.pull-left {{event.date}}
        .clearfix
      - else
        %h2 {{event.date}}

      %h2.talk-name
        %a{href:"{{event.talk.get_absolute_url}}"} {{ event.talk.name }}
        - if event.talk.endorsements.count %}
          ({{ event.talk.endorsements.count }} <i class="icon-thumbs-up"></i>)
