.span6
  .event
    .row
      .span6
        %h3.pull-left
          %a{href:"{{event.get_absolute_url}}"}
            {{event.name}}

      .span6
          .map{id:"map{{event.id}}"}
          .details
            {{event.description|truncatechars:240}}

      .span6{style:"margin-top:20px"}
        .row
          .span3
            - with event.location as location
              {{ location.name }}<br />
              {{ location.address }}<br />
              {{ location.city }}, {{location.state}}, {{location.zip_code}}
          .span3
            {{event.start_date.date}}
            {{event.start_date.time}}<br />
            {{event.end_date.date}}
            {{event.end_date.time}}
