<div class="span4">
    <li>
        <h4><a href="/event/{{event.pk}}">{{ event.talk.name|truncatechars:30 }}</a></h4>
        <h5>{{ event.date }}</h5>
        {% if event.talk.photo %}
        <img class="pull-left" src="{{STATIC_URL}}img/photo/{{event.talk.photo}}">
        {% else %}
        <i class="icon-camera profile-placeholder pull-left"></i>
        {% endif %}
        <span>
            {{ event.talk.abstract|truncatechars:80 }}
            <div class="location">
                <i class="icon-globe"></i>
                <div>{{ event.location.city}}</div>
            </div>
        </span>
    </li>
</div>
