{% extends 'base.html' %}

{% block 'content' %}
    {% for group in event_groups %}
        {% if group.1 %}
                    <div class="row">
                        <div class="span12">
                            <h2>{{group.0}}</h2>
                        </div>
                    </div>

            <div id="event-list" class="row" style="margin-bottom:40px">
                {% for event in group.1 %}
                    {% include '_event_span6_detail_partial.html' %}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block 'scripts' %}
<script type="text/javascript">
    console.log(L);
    L.Icon.Default.imagePath = '{{STATIC_URL}}img/';

    {% for group in event_groups %}
        {% for event in group.1 %}
            {% with event.location as location %}
                (function() {
                    // create a map in the "map" div, set the view to a given place and zoom
                    var map = L.map('map{{event.id}}', {'zoomControl': false}).setView([39.95, -82.95], 6);

                    // add an OpenStreetMap tile layer
                    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: ''
                        }).addTo(map);

                    var url = "http://nominatim.openstreetmap.org/search/{{location.geocode_querystring}}?format=json"
                    $.get(url, function(data) {
                        if(data.length != 0) {
                            L.marker([data[0].lat, data[0].lon]).addTo(map);
                            map.setView([data[0].lat, data[0].lon], 14);
                        }
                    });
                }).call(this);
            {% endwith %}
        {% endfor %}
    {% endfor %}
</script>
{% endblock %}
