{% extends 'base.html' %}

{% block 'content' %}
    <div id="event-detail" class="row">
        <div class="span4">
            <h3>{{ event.name }}</h3>
            <p>{{ event.description }}</p>
            <p>
                {% with event.location as location %}
                    {{ location.name }}<br />
                    {{ location.address }}<br />
                    {{ location.city }}, {{location.state}}, {{location.zip_code}}
                {% endwith %}
            </p>
        </div>

        <div class="span8">
            <p>
                <div id="map"></div>
            </p>
        </div>

        {% if upcoming %}
            <div class="span12">
                <h2>Upcoming Events</h2>
                <hr />
            </div>

            {% for item in upcoming %}
                {% include '_talk_event_span6_detail_partial.html' %}
            {% endfor %}
        {% endif %}

        {% if past %}
            <div class="span12">
                <h2>Past Events</h2>
                <hr />
            </div>

            {% for item in past %}
                {% include '_talk_event_span6_detail_partial.html' %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block 'scripts' %}
    <script type="text/javascript">
        L.Icon.Default.imagePath = '{{STATIC_URL}}img/';

        // create a map in the "map" div, set the view to a given place and zoom
        var map = L.map('map').setView([39.95, -82.95], 6);

        // add an OpenStreetMap tile layer
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

        var url = "http://nominatim.openstreetmap.org/search/{{city_querystring}}?format=json"
        $.get(url, function(data) {
            if(data.length != 0) {
                map.setView([data[0].lat, data[0].lon], 12);

                var url = "http://nominatim.openstreetmap.org/search/{{querystring}}?format=json"
                $.get(url, function(data) {
                    if(data.length != 0) {
                        L.marker([data[0].lat, data[0].lon]).addTo(map).bindPopup(
                        '<h4>{{event.location.name}}</h4><br />{{event.location.address}}<br />{{event.location.city}}, {{event.location.state}} {{event.location.zip_code}}').openPopup();
                    }
                });
            }
        });

    </script>
{% endblock %}
