{% extends 'event_base.html' %}

{% block 'content' %}
<div id="event-detail">
    {% include '_event_header_partial.html' %}

    <div class="row">
        <div class="span3">
            <div class="row">
                <div class="span3">
                    <h3>Location</h3>
                    {% with event.location as location %}
                        {% include "_event_location_map.html" %}
                    {% endwith %}
                </div>
            </div>


            <div class="row">
                <div class="span3">
                    <h3>Speaker</h3>
                    <ul class="speakers">
                        {% if event.talk.speaker.published %}
                            <li>
                                <div class="speaker well">
                                    {% if event.talk.speaker.photo %}
                                        <img src="{{STATIC_URL}}img/photo/{{ event.talk.speaker.photo}}"></img>
                                    {% else %}
                                        <i class="icon-user profile-placeholder"></i>
                                    {% endif %}

                                    <div class="about">
                                        <h4>
                                            <a href="/speaker/{{event.talk.speaker.user.username}}">
                                            {{ event.talk.speaker.user.get_full_name }}
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="span3">
                    <div class="tags">
                        <h3>Tags</h3>
                        <ul>
                            {% for tag in event.talk.tags.all %}
                            <li>{{ tag.name }}</li>
                            {% endfor %}
                        </ul>

                        <form action="/talk/{{event.talk.id}}/tag/new/" method="POST">
                            {% csrf_token %}
                            <input name="tag" type="text" placeholder="My Tag"/>
                            <input class="btn btn-warning" type="submit" value="Tag this talk" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="span9">
            <div class="talk-detail">
                <h3>Abstract</h3>
                <p>{{ event.talk.abstract }}</p>

                {% if event.talk.talkvideo_set.all %}
                    <h3>Videos</h2>
                    {% for video in event.talk.talkvideo_set.all %}
                        {% if video.video_type == "YOUTUBE" %}
                            <iframe width="300" height="225" src="{{ video.url_target }}" frameborder="0" allowfullscreen></iframe>
                        {% elif video.video_type == "VIMEO" %}
                            <iframe src="{{ video.url_target }}" width="300" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if attendees %}
                    <h3>Attendees</h3>
                    {% for profile in attendees %}
                        <a href="/speaker/{{profile.user.username}}">{{profile.user.get_full_name}}</a>
                    {% endfor %}
                {% endif %}

                {% if event.talk.talkcomment_set.all or event.talk.speaker != user.get_profile %}
                    <div class="comments">
                        <h3>Comments</h3>

                        {% if event.talk.speaker != user.get_profile %}
                            <form class="add-comment-form" action="/talk/{{event.talk.id}}/comment/new/" method="POST">
                                {% csrf_token %}
                                <textarea name='comment' placeholder="Add your comment..."></textarea><br />
                                <input class="btn btn-warning" type="submit" value="Submit Comment" />
                            </form>
                        {% endif %}

                        {% if event.talk.talkcomment_set.all %}
                            <ul>
                                {% for comment in event.talk.talkcomment_set.all %}
                                    <li>
                                        <h4>{{comment.reviewer.user.get_full_name}} said...</h4>
                                        <p>
                                            {{comment.comment}}
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- This contains the hidden content for inline calls -->
<div style='display:none'>
    <div id="delete-talk-popup" style="background-color:white; padding: 40px;">
        <h2 class="delete-talk-name"></h2>
        <div style="font-size: 18px;">
            <p>Are you sure you want to delete this talk?</p>
            <p><b>This operation cannot be undone.</b></p>
        </div>

        <a class="delete-confirm-link btn btn-danger" href="#" style="margin-top: 20px;">Yes. Delete this talk<a>
    </div>
</div>
{% endblock %}

{% block 'scripts' %}
<script type="text/javascript">
    $('.delete-talk').colorbox({inline: true, width:"300px"});

    $('.delete-talk').click(function(el){
        var sel = $(el.currentTarget)

        $('.delete-talk-name').text(sel.data('name'))
        $('.delete-confirm-link').attr('href', "/talk/" + sel.data('id') + "/delete/")
    });
</script>
{% endblock %}
