- extends 'base.haml'

- block 'content'
  - include '_event_header_partial.haml'

  #event-detail.row
    - if upcoming
      .span12
        %h2 Upcoming Talks
        %hr

      - for item in upcoming
        - include '_talk_event_span6_detail_partial.haml'

    - if Recent
      .span12
        %h2 Recent Talks
        %hr

      - for item in past
        - include '_talk_event_span6_detail_partial.haml'

- block 'scripts'
  - include '_popup_event_delete_partial.haml'
  - include '_popup_event_submit_talk_partial.haml'

  %script{type:"text/javascript"}
    (function() {
      L.Icon.Default.imagePath = '{{STATIC_URL}}img/';

      var map = L.map('map').setView([39.95, -82.95], 6);

      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(map);


      var url = "http://nominatim.openstreetmap.org/search/{{city_querystring}}?format=json";
      $.get(url, function(data) {
          if(data.length != 0) {
              map.setView([data[0].lat, data[0].lon], 12);

              var url = "http://nominatim.openstreetmap.org/search/{{querystring}}?format=json";
              $.get(url, function(data) {
                  if(data.length != 0) {
                      L.marker([data[0].lat, data[0].lon]).addTo(map).bindPopup(
                      '<h4>{{event.location.name}}</h4><br />{{event.location.address}}<br />{{event.location.city}}, {{event.location.state}} {{event.location.zip_code}}').openPopup();
                  }
              });
          }
      });
    }).call(this);
