.span6
  .speaker
    .picture
      - if profile.photo
        %img.pull-left{src:"{{MEDIA_URL}}{{ profile.photo}}"}
      - else
        %i.pull-left.icon-user.photo-placeholder

    .description
      %h4
        %a{href:"{{ profile.get_absolute_url }}"}
          {{ profile.user.get_full_name }}

      - if profile.tags.all
        Expert In:
        - for tag in profile.tags.all|slice:":5"
          .label.label-info {{tag|title}}

      .about {{ profile.about_me|truncatechars:140 }}

    - with profile.user as other_user
      - include '_follow_user_partial.haml'
