- load gears
!!! 5

%html{lang:"en"}
  %head
    %meta{charset:"utf-8"}
    %title SpkrBar.com - A site for speakers, conferences, and the people who attend them.
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %meta{name:"description", content:""}
    %meta{name:"author", content:""}

    - css_asset_tag 'vendor/css/style.css'
    - css_asset_tag 'css/style.css'

    - js_asset_tag 'vendor/js/script.js'

    - block 'head'

    %link{rel:"apple-touch-icon-precomposed", sizes:"144x144", href:"../assets/ico/apple-touch-icon-144-precomposed.png"}
    %link{rel:"apple-touch-icon-precomposed", sizes:"114x114", href:"../assets/ico/apple-touch-icon-114-precomposed.png"}
    %link{rel:"apple-touch-icon-precomposed", sizes:"72x72", href:"../assets/ico/apple-touch-icon-72-precomposed.png"}
    %link{rel:"apple-touch-icon-precomposed", href:"../assets/ico/apple-touch-icon-57-precomposed.png"}
    %link{rel:"shortcut icon", href:"../assets/ico/favicon.png"}

  %body
    #main

  %script{type:"text/javascript"}
    window.userId = {{ user.id }};

    var $buoop = {vs:{i:9,f:20,o:11,s:5,n:9}} 
    $buoop.ol = window.onload; 
    window.onload=function(){ 
      try {if ($buoop.ol) $buoop.ol();}catch (e) {console.log("Couldn't load browser update plugin");} 
      var e = document.createElement("script"); 
      e.setAttribute("type", "text/javascript"); 
      e.setAttribute("src", "http://browser-update.org/update.js"); 
      document.body.appendChild(e); 
      } 

  - include 'handlebars/main.haml'
  - include 'handlebars/index.haml'
  - include 'handlebars/callout.haml'
  - include 'handlebars/general_layout.haml'
  - include 'handlebars/engagement_thumb.haml'
  - include 'handlebars/engagement_span6.haml'
  - js_asset_tag 'js/script.js'

  - block 'scripts'

  - include 'talks/_popup_talk_new_partial.haml'
  - include 'handlebars/notification.haml'
