- extends 'base.haml'

- block 'subnav-container'

- block 'content'
  .best-way
    ~~ The best way to share, manage, and discover awesome presentations online. ~~

  - if talks
    .row-fluid
      .section-title
        %h2 Recently Updated Talks

    .talk-list
      - for item in talks
        - include 'talks/_talk_detail_partial.haml'
