- extends 'base.haml'

- block 'content-container'
  #search-container

  - include 'handlebars/search.haml'
  - include 'handlebars/speaker_detail.haml'
  - include 'handlebars/talk_thumbnail.haml'
  - include 'handlebars/event_thumbnail.haml'

- block 'scripts'
  %script{type:"text/javascript"}
    var talks = new SpkrBar.Collections.Talks({{talks|safe}});
    var speakers = new SpkrBar.Collections.Speakers({{speakers|safe}});
    var events = new Backbone.Collection({{events|safe}});

    var searchPage = new SpkrBar.Views.SearchPage({
        talks: talks,
        speakers: speakers,
        events: events
    });

    $('#search-container').html(searchPage.render().el);
