- extends 'base.haml'

- block 'title'
  Featured Speakers

- block 'subnav'

- block 'content'
  .row-fluid
    .speaker-list
        - for profile in speakers
          {% include '_speaker_detail_partial.haml' %}
