{% verbatim %}
  %script#profile-detail-templ{type:"text/x-handlebars-template"}
    .subnav
      .row-fluid
        .span6
          %h2 {{ name }}
        .span6{style:"position: relative;"}
          .nav.btn-group.pull-right
            {{#if userOwnsContent }}
              %a#show-notifications.btn.btn-warning
                %i.icon-bell-alt
                Alerts
              %a.btn.btn-warning.edit-profile{href:"#edit-profile-popup", data-toggle:"tooltip", data-original-title:"Edit Profile"}
                %i.icon-pencil
                Edit
            {{/if}}

    .content-container
      #profile
        .row-fluid
          .span3
            .well.picture
              {{#if photo}}
                %img{src:"{{MEDIA_URL}}{{ profile.photo}}"}
              {{else}}
                %i.icon-user
              {{/if}}

              {{#if userOwnsContent}}
                .row-fluid
                  %form.profile-photo-form{action:"/profile/edit/photo", method:"POST", enctype:"multipart/form-data"}
                    {% csrf_token %}

                    .span3
                      {{ photo_form.photo }}

                    .span3
                      %input.btn.btn-warning{type:"submit", value:"Upload Photo"}
              {{/if}}
          .span9
            {{ about }}

        .row-fluid
          .span3
            {{#if showTags}}
              .row-fluid
                .span12
                  %h2 Known for
            {{/if}}

            {{#if tags}}
              .row-fluid
                .span12
                  %ul.expert-area
                    {{#each tags}}
                      %li.tag.label.label-info{data-id:"{{id}}"}
                        {{tag}}

                        {{#if userOwnsContent}}
                          %i.delete-profile-tag.icon-remove.pull-right{data-id:"{{id}}"}
                        {{/if}}
                    {{/each}}
            {{/if}}

            {{#if userOwnsContent}}
              .row-fluid
                .edit-tags
                  .span12
                    %form.profile-tag-form{action:"/profile/edit/tag/new", method:"POST"}
                      - csrf_token
                      {{ tag_form.name }}
                      %input.btn.btn-warning{type:"submit", value:"Add New Tag"}
            {{/if}}

            {{#if showLinks}}
              .row-fluid
                .span12
                  %h2 Links
            {{/if}}

            {{#if links}}
              .row-fluid
                .span12
                  - for link in profile.links.all
                    %p.profile-link{data-id:"{{link.id}}"}
                      %a{href:"{{link.url_target}}", target:"_blank"}
                        My {{ link.type_name }}
                      - if user == profile
                        %i.delete-profile-link.icon-remove.pull-right{data-id:"{{link.id}}"}
            {{/if}}

            {{#if userOwnsContent}}
              .row-fluid
                .edit-links
                  .span12
                    %form.profile-link-form{action:"/profile/edit/link/new", method:"POST"}
                      - csrf_token
                      {{ link_form.type }}
                      {{ link_form.url }}

                      %input.btn.btn-warning{type:"submit", value:"Add New Link"}
            {{/if}}

            .row-fluid
              .span12{style:"margin-top: 40px"}
                .follow_users
                  %h2 Followers ({{numFollowers}})
                  {{#if followers}}
                    .user-list-partial
                      {{#each followers}}
                        %a{href:"{{url}}", data-toggle:"tooltip", data-original-title:"{{name}}"}
                          {{#if photo}}
                            %img{src:"{{MEDIA_URL}}{{photo}}"}
                            %span {{ first_name }}
                          {{else}}
                            %i.icon-user
                            {{ first_name }}
                          {{/if}}
                      {{/each}}
                  {{else}}
                    No Followers
                  {{/if}}

            .row-fluid
              .span12{style:"margin-top: 40px"}
                .follow_users
                  %h2 Following ({{numFollowing}})
                  {{#if following}}
                    .user-list-partial
                      {{#each following}}
                        %a{href:"{{url}}", data-toggle:"tooltip", data-original-title:"{{name}}"}
                          {{#if photo}}
                            %img{src:"{{MEDIA_URL}}{{photo}}"}
                            %span {{first_name}}
                          {{else}}
                            %i.icon-user
                            {{first_name}}
                          {{/if}}
                      {{/each}}
                  {{else}}
                    Not Following Anyone
                  {{/if}}

                - if engagements
                  .span12{style:"margin-top: 40px"}
                    %h2 Engagements
                    %ul.basic-item-list
                      - for item in engagements
                        %li
                          %a{href:"{{item.get_absolute_url}}"}
                            {{ item }}
            .span9
              - if talks
                .row-fluid
                  .span12
                    %h2 My Talks

                    .talk-list{style:"padding-left:0px;margin-left:-10px;"}
                    - for item in talks
                      - include 'talks/_talk_span6_detail_partial.haml'

      %div{style:'display:none'}
        #delete-talk-popup{style:"background-color:white; padding: 40px;"}
          %h2.delete-talk-name
          %div{style:"font-size: 18px;"}
            %p Are you sure you want to delete this talk?
            %p
              %b This operation cannot be undone.

          %a.delete-confirm-link.btn.btn-danger{href:"#", style:"margin-top: 20px;"} Yes. Delete this talk

      %div{style:'display:none'}
        #edit-profile-popup{style:"background-color:white; padding: 40px;"}
          %h2 Edit Your Profile

          %form{action:"/profile/edit", method:"POST"}
            - csrf_token
            %label{for:"name"} Name:
            {{ edit_form.name }}
            %label{for:"about"} About:
            {{ edit_form.about_me }}

            %button.btn.btn-warning{type:"submit"} Save
{% endverbatim %}