- if profile.user == user
  %a#show-notifications.btn.btn-warning
    %i.icon-bell-alt
    Alerts
  %a.btn.btn-warning.edit-profile{href:"#edit-profile-popup", data-toggle:"tooltip", data-original-title:"Edit Profile"}
    %i.icon-pencil
    Edit
