- if talks
  .row-fluid
    .span12
      %h2 My Talks

      .talk-list{style:"padding-left:0px;margin-left:-10px;"}
        - for item in talks
          - include 'talks/_talk_span6_detail_partial.haml'
