<!DOCTYPE html>

<html lang='en'>
    <body style="background-color: rgb(230, 190, 160); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px;">
        <div style="display: block; margin: 20px auto 20px auto; width: 800px; background-color: white; border-left: 2px solid rgb(175,150,130); border-right: 2px solid rgb(175,150,130); border-bottom: 2px solid rgb(175,150,130);">
            <div style="padding: 20px; background-color: #F38E42; color: #eee; font-size: 32px; font-weight: bold;">
                Password reset request.
            </div>
            <img src="http://www.spkrbar.com/static/img/audi_callout.png" style="position: relative; width:800px"/>

            <div style="padding:20px">
                Someone asked to reset the password for your account. If this was you
                then please follow the link below to reset your password. 

                {{ protocol}}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}

                If you didn't request your password to be reset then there is no need to 
                notify us, simply ignore this email.

                Thank you,
                SpkrBar.com
            </div>
        </div>
    </body>
</html>
