- extends 'base.haml'

- block 'title'
  Email Sent

- block 'subnav'

- block 'content'
  #login
    %h4 We just sent you an email so you can reset your password.
    %p You should recieve it within the next few minutes.
