- extends 'base.haml'

- block 'title'
  Login

- block 'subnav'

- block 'content'
  #login
    - if error
      .alert.alert-error {{error}}

    %form{action:"/login", method:"POST"}
      - csrf_token
      %label{for:"email"} Email Address:
      %input{id:"email", name:"email", type:"text"}
      %label{for:"password"} Password:
      %input{id:"password", name:"password", type:"password"}
      %br
      %input.btn.btn-warning{type:"submit", value:"Login"}

    %a{href:"/forgot"} Forgot your password?
