- extends 'base.haml'

- block 'title'
  Welcome to the club.

- block 'subnav'

- block 'content'
  .row
    .span6
      .row
        .span12
          %h3 Hey there Speaker, Whatcha talking about?
          %hr

      .row
        .span12
          %form#register{action:"/register/speaker/", method:"POST"}
            - csrf_token
            - for field in form
              - if field.errors
                .field.alert.alert-error
                  .input
                    {{ field.label_tag }} {{ field }}
                  .error
                    {{ field.errors }}
              - elif form.errors
                .field.alert.alert-success
                  .input
                    {{ field.label_tag }} {{ field }}
              - else
                .field
                  .input
                    {{ field.label_tag }} {{ field }}

            %br
            %input.btn.btn-warning{type:"submit", value:"Register"}
