.row
  .span3
    - with 'Topics' as topic_title
      {% include 'profile/_tags_partial.haml' %}
  .span3{style:"margin-top: 40px"}
    {% include 'profile/_links_partial.haml' %}

  {% include 'profile/_followers_list_partial.haml' %}
