#speakers {
    ul {
        list-style-type: none;

        margin: 0px;
    }

    h4 {
        margin-top: 0px;
    }

    .profile-placeholder {
        font-size: 10em;
        color: #b9b9b9;
    }

    .speaker {
        border: 1px solid #eee;
        padding: 10px;
        position: relative;
        height: 160px;
        margin-bottom: 40px;

        .picture img {
            max-width: 120px;
            margin-right: 20px;
        }

        .description {
            max-height: 140px;
        }

        .follow {
            position: absolute;
            bottom: 20px;
            right: 20px;

            a {
                margin-top: 20px;
            }

            .label {
                padding: 10px;
            }
        }
    }
}
