<!DOCTYPE html>

<html lang='en'>
    <body style="background-color: rgb(230, 190, 160); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px;">
        <div style="display: block; margin: 20px auto 20px auto; width: 800px; background-color: white; border-left: 2px solid rgb(175,150,130); border-right: 2px solid rgb(175,150,130); border-bottom: 2px solid rgb(175,150,130);">
            <div style="padding: 20px; background-color: #F38E42; color: #eee; font-size: 32px; font-weight: bold;">
                Welcome to the SpkrBar!
            </div>
            <img src="http://www.spkrbar.com/static/img/audi_callout.png" style="position: relative; width:800px"/>

            <div style="padding:20px">
                Hi {{name}},
                
                <p>I'm SpkrBot from SpkrBar.com. The organizers at {{event}} have set you up with an account on SpkrBar. SpkrBar is an online community for speakers to share their sessions and promote themselves online. With SpkrBar you can:</p>

                <ul>
                    <li>Link your blog, slides, youtube videos, code, etc together in one place as a resource for your session attendees.</li>
                    <li>Find events you've spoken at and schedule them as engagements, showing off where you've spoken in the past.</li>
                    <li>Answer questions about your talks by the people who attend them.</li>
                    <li>Find other talks like yours and learn from them.</li>
                    <li>Contribute to a growing community of talented speakers.</li>
                </ul>

                <p>As a speaker you are in control of your content on SpkrBar. We've already loaded in your talks at {{event}} to get your started. Claim your profile below, upload a photo of yourself, tag your talks based on topics, and when you are ready, upload your slides. </p>

                <p><a href="https://www.spkrbar.com/claim" target="_blank">Claim My Profile</a></p>

                <p>We are working on making the site better every day. If you encounter any problems, have questions, or want to give us any feedback please send me an email and I'll automatically send it on to our developers. You can also leave feedback using the form on SpkrBar.com. </p>

                <p><pre>
                    Thanks,
                    SpkrBot @ Spkrbar.com
                    Follow us on twitter: @SpkrBar
                </pre></p>
            </div>
        </div>
    </body>
</html>
