.span3
  .event-thumb
    .title
      %a{href:"/event/{{event.pk}}"}
        {{ event.talk.name|truncatechars:30 }}
    .photo
      - if event.talk.photo
        %img{src:"{{STATIC_URL}}img/photo/{{event.talk.photo}}"}
      - else
        %i.icon-camera.profile-placeholder
    .location
      %a{href:"{{ event.location.get_absolute_url }}"}
        at {{ event.location.name }}
      in {{ event.location.city }}, {{ event.location.state }}
    .time
      {{ event.date.date }}<br />
      {{ event.date.time }}
