#event-header
  .row
    .span4
      %h5
        {{ event.start_date.date }} at {{ event.start_date.time }} to
        %br {{ event.end_date.date }} at {{ event.end_date.time }}
      %p {{ event.description }}
      %p
        - with event.location as location
          {{ location.name }}<br />
          {{ location.address }}<br />
          {{ location.city }}, {{location.state}}, {{location.zip_code}}

    .span8
      %p
        #map
