#event-header
  .row
    .span4
      %p {{ event.description }}
      %p
        - with event.location as location
          {{ location.name }}<br />
          {{ location.address }}<br />
          {{ location.city }}, {{location.state}}, {{location.zip_code}}

    .span8
      %p
        #map
