- extends 'base.haml'

- block 'title'
  - if endorsements
    {{ endorsements|length }} <i class="icon-thumbs-up"></i>
  {{ event }}

- block 'subnav'

- block 'content'
  - include 'events/_event_header_partial.haml'

  #event-detail
    - if speakers
      .row
        .section-title
          %h2 Speakers

      .row.buffer
        - for profile in speakers
          {% include '_speaker_span6_partial.haml' %}

    - if upcoming
      .row
        .section-title
          %h2 Upcoming Talks

      .row.buffer
        - for item in upcoming
          - include 'engagements/_talk_event_span6_detail_partial.haml'

    - if current
      .row
        .section-title
          %h2 Current Talks

      .row.buffer
        - for item in current
          - include 'engagements/_talk_event_span6_detail_partial.haml'

    - if past
      .row
        .section-title
          %h2 Past Talks

      .row.buffer
        - for item in past
          - include 'engagements/_talk_event_span6_detail_partial.haml'

- block 'scripts'
  - include 'events/_popup_event_delete_partial.haml'

  %script{type:"text/javascript"}
    (function() {
      L.Icon.Default.imagePath = '{{STATIC_URL}}img/';

      var map = L.map('map').setView([39.95, -82.95], 6);

      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(map);


      var url = "http://nominatim.openstreetmap.org/search/{{city_querystring}}?format=json";
      $.get(url, function(data) {
          if(data.length != 0) {
              map.setView([data[0].lat, data[0].lon], 12);

              var url = "http://nominatim.openstreetmap.org/search/{{querystring}}?format=json";
              $.get(url, function(data) {
                  if(data.length != 0) {
                      L.marker([data[0].lat, data[0].lon]).addTo(map).bindPopup(
                      '<h4>{{event.location.name}}</h4><br />{{event.location.address}}<br />{{event.location.city}}, {{event.location.state}} {{event.location.zip_code}}').openPopup();
                  }
              });
          }
      });
    }).call(this);
