- extends 'base.haml'

- block 'title'
  - if endorsements
    {{ endorsements|length }} <i class="icon-thumbs-up"></i>
  {{ event.owner.name }} {{ event.start_date.year }}

- block 'subnav'
  - if user == event.owner
      - if event.accept_submissions
        %a.btn.btn-warning{href:"/event/{{event.id}}/close?last={{last}}", data-toggle:"tooltip", data-original-title:"Decline Talk Submissions"}
          %i.icon-flag-alt
          Close Proposals
      - else
        %a.btn.btn-warning{href:"/event/{{event.id}}/open?last={{last}}", data-toggle:"tooltip", data-original-title:"Accept Talk Submissions"}
          %i.icon-flag
          Open Proposals

      %a.btn.btn-warning.edit-talk{href:"/event/{{event.id}}/edit", data-toggle:"tooltip", data-original-title:"Edit Event"}
        %i.icon-pencil
        Edit

      - if not event.talkevent_set.all
        %a.btn.btn-warning.delete-event{data-name:"{{event.name}}", data-id:"{{event.id}}", href:"#delete-event-popup", data-toggle:"tooltip", data-original-title:"Delete Event"}
          %i.icon-trash
          Delete

  - elif not user.is_anonymous
    - if user_attending 
      - if not user_endorsed
        %a.btn.btn-warning{href:"/event/{{event.id}}/endorse?last={{last}}", data-toggle:"tooltip", data-original-title:"Endorse Event"}
          %i.icon-thumbs-up
      - else
        %a.btn.disabled.btn-warning
          %i.icon-thumbs-up
      %a.btn.btn-warning{href:"/event/{{event.id}}/attend?last={{last}}", data-toggle:"tooltip", data-original-title:"Cancel Attendance"}
        %i.icon-ban-circle
    - elif event and not user_attending
      %a.btn.btn-warning{href:"/event/{{event.id}}/attend?last={{last}}", data-toggle:"tooltip", data-original-title:"Attend Event"}
        %i.icon-calendar
    %a.btn.btn-warning{href:"/profile/{{event.owner.user.username}}", data-toggle:"tooltip", data-original-title:"Event Profile"}
      %i.icon-user
    - if user_talks and event.accept_submissions
      %a.btn.btn-warning.submit-talk{href:"#submit-talk-popup"}
        %i.icon-share-alt
        Submit Talk

- block 'content'
  - include 'events/_event_header_partial.haml'

  #event-detail
    - if speakers
      .row
        .section-title
          %h2 Speakers

      .row.buffer
        - for profile in speakers
          {% include '_speaker_attendee_span6_partial.haml' %}

    - if upcoming
      .row
        .section-title
          %h2 Upcoming Talks

      .row.buffer
        - for item in upcoming
          - include 'talkevents/_talk_event_span6_detail_partial.haml'

    - if past
      .row
        .section-title
          %h2 Past Talks

      .row.buffer
        - for item in past
          - include 'talkevents/_talk_event_span6_detail_partial.haml'

- block 'scripts'
  - include 'events/_popup_event_delete_partial.haml'
  - include 'events/_popup_event_submit_talk_partial.haml'

  %script{type:"text/javascript"}
    (function() {
      L.Icon.Default.imagePath = '{{STATIC_URL}}img/';

      var map = L.map('map').setView([39.95, -82.95], 6);

      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(map);


      var url = "http://nominatim.openstreetmap.org/search/{{city_querystring}}?format=json";
      $.get(url, function(data) {
          if(data.length != 0) {
              map.setView([data[0].lat, data[0].lon], 12);

              var url = "http://nominatim.openstreetmap.org/search/{{querystring}}?format=json";
              $.get(url, function(data) {
                  if(data.length != 0) {
                      L.marker([data[0].lat, data[0].lon]).addTo(map).bindPopup(
                      '<h4>{{event.location.name}}</h4><br />{{event.location.address}}<br />{{event.location.city}}, {{event.location.state}} {{event.location.zip_code}}').openPopup();
                  }
              });
          }
      });
    }).call(this);
