- extends 'base.haml'

- block 'subnav-container'

- block 'content'
  .row
    .section-title
      %h2 Events 

  .event-list.row{style:"margin-bottom:40px"}
    - for event in events
      - include 'events/_event_span6_detail_partial.haml'

- block 'scripts'
  %script{type:"text/javascript"}
    L.Icon.Default.imagePath = '{{STATIC_URL}}img/';

    - for event in events
      - with event.location as location
          (function() {
            var map = L.map('map{{event.id}}', {'zoomControl': false}).setView([39.95, -82.95], 6);

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: ''
                }).addTo(map);

            var url = "http://nominatim.openstreetmap.org/search/{{location.geocode_querystring}}?format=json"
            $.get(url, function(data) {
                if(data.length != 0) {
                    L.marker([data[0].lat, data[0].lon]).addTo(map);
                    map.setView([data[0].lat, data[0].lon], 14);
                }
            });
          }).call(this);
