- extends 'base.haml'

- block 'title'
  %h3 {{ name }}

- block 'content'
  #event-header
    .row-fluid
      .span4
        %h4 
          .label.label-info {{ speakers|length }}
          .desc Speakers
        %h4
          .label.label-info {{ num_engagements }}
          .desc Engagements

        .event-tag-area
          - for tag in tags
            .label.label-info
              %span.count
                {{tag.0}}
              %span.name
                {{tag.1|title}}
      .span8
        %p
          #map

  .row-fluid
    .section-title
      %h2 Speakers

  .row-fluid
    .speaker-list
      - for profile in speakers
        - include '_speaker_detail_partial.haml'

  - for year, engs in talks.items
    .row-fluid
      .section-title
        %h2 {{name}} - {{year}}

    .row-fluid
      .talk-list
        - for item in engs
          - include 'engagements/_engagement_detail_partial.haml'

- block 'scripts'
  %script{type:"text/javascript"}
    (function() {
      L.Icon.Default.imagePath = '{{STATIC_URL}}img/';

      var map = L.map('map').setView([39.95, -82.95], 6);

      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(map);


      var url = "http://nominatim.openstreetmap.org/search/{{city_querystring}}?format=json";
      $.get(url, function(data) {
          if(data.length != 0) {
              map.setView([data[0].lat, data[0].lon], 12);

              var url = "http://nominatim.openstreetmap.org/search/{{querystring}}?format=json";
              $.get(url, function(data) {
                  if(data.length != 0) {
                      L.marker([data[0].lat, data[0].lon]).addTo(map).bindPopup(
                      '<h4>{{event.location.name}}</h4><br />{{event.location.address}}<br />{{event.location.city}}, {{event.location.state}} {{event.location.zip_code}}').openPopup();
                  }
              });
          }
      });
    }).call(this);
