- extends 'base.haml'

- block 'content-container'
  #event-detail-container

  - include 'handlebars/event_detail.haml'
  - include 'handlebars/engagement_detail.haml'
  - include 'handlebars/speaker_detail.haml'

- block 'scripts'
  %script{type:"text/javascript"}
    eventModel = new SpkrBar.Models.Event({
      name: "{{name}}",
      tags: {{tags|safe}},
      speakers: {{speakers}},
      engagements: {{talks}},
      });

    var eventView = new SpkrBar.Views.EventDetail({model: eventModel});
    $('#event-detail-container').html(eventView.render().el);
